/* About Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
h3 {
  font-family: 'Halant', serif;
  font-size: 16px;
  color: white;
  text-shadow: 1px 2px 3px #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: -20px;
  margin-right: 5px;
  display: inline-block;
}

p {
  font-family: 'Arial', sans-serif;
  color: #ccc;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

a {
  color: #809bbe;
}

a:visited {
  color: #a590d0;
}

a:hover {
  color: #cae0fa;
}

.about .title img {
  max-width: 256px;
  margin: 25px auto;
}

.about .center {
  text-align: center;
}

.about p {
  text-transform: none;
}

.about p.bold {
  color: white;
  font-size: 18px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  padding-top: 15px;
}

.about p.troubleshoot {
  color: khaki;
}

.about p.content {
  margin-bottom: 50px;
}

.about h3 {
  margin-bottom: 25px;
}

.about .version-header {
  font-size: smaller;
  text-align: center;
  text-transform: uppercase;
}

.about .copyright,
.about .copyright a {
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  font-size: 11px;
  margin: 25px;
}

.about .copyright a:hover {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

.about .updates {
  margin-top: 25px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

ul li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: white;
    line-height: 1.6em;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 15px;
}

ul li a,
ul li a:hover,
ul li a:visited {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

ul li.no-bullet {
    list-style-type: none;
}

table, td, th {
    color: #666;
    border-color: #666 !important;
}

table caption {
    color: #666;
    margin: 15px 0 0 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
}

.table {
    margin-top: 25px;
    font-family: sans-serif;
    margin-bottom: 150px;
}

.marketplace-highlights {
  list-style-type: none;
  padding-left: 25px;
  margin-bottom: 20px;
}

.marketplace-highlights li {
  margin: 10px 0;
  font-weight: bold;
}

.mint {
    color: #00b4db !important;
}

.near-mint {
  color: #00dbb4 !important;
}

.very-good-plus {
  color: #00db1f !important;
}

.very-good {
  color: #85ab11 !important;
}

.good-plus {
  color: #f6bf48 !important;
}

.good {
  color: #d87307 !important;
}

.fair {
  color: #e54803 !important;
}

.poor {
  color: #ff0000 !important;
}

em {
  color: white;
  font-weight: bold;
}

.sort-btn {
  border-color: #3571a6 !important;
  border-top-color: #3776ae !important;
  border-bottom-color: #31699b !important;
  background-color: #4588C4 !important;
  color: white !important;
  padding: 5px;
  border-radius: 3px;
}

span.new {
  color: red;
}

.prices {
  max-width: 350px;
  display: block;
  margin: 10px auto;
}

.price-example {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 10px auto;
}

.paypal {
  text-align: center;
}

.beer:after {
  content: '🍺';
}
