/* Longer BAOI fields */
.drag-drop-list[data-key="barcodes"] fieldset {
  width: 100%;
}

.drag-drop-list[data-key="barcodes"] input {
  width: 100%;
  margin: .5rem 0;
}

/* Don't change the size of the description fields
td[data-ref-overview="barcode"] fieldset input:first-of-type {
  width: 100%;
  margin: .5rem 0;
}
*/
