/* Longer BAOI fields */
.drag-drop-list[data-key="barcodes"] fieldset {
  width: 100%;
  display: flex;
}

.drag-drop-list[data-key="barcodes"] .drag_drop_content {
  display: flex;
}
 /* Invisible and disabled buttons that block the clickable surface of the "Add description" button */
.drag-drop-list[data-key="barcodes"] .drag_drop_field_row_buttons button.drag_drop_field_row_move_button {
  width: 0;
}

.drag-drop-list[data-key="barcodes"] input:first-of-type {
  flex-grow: 1;
  margin: 0 .5rem 0 0;
}

/* Large name fields in Credits section */
input[id*="artist-credits-anv"],
input[class*="credit-artist-name-input"] {
  min-width: 275px;
}
.drag-drop-list .lookup-field.credit-lookup {
  min-width: 275px;
  margin-right: 5px !important;
}
