.blocked-seller {
  opacity: 1.5;
}

.blocked-seller .seller_info strong a,
.wantlist-card.blocked-seller a,
.wantlist-card.blocked-seller a strong {
  color: #BF3A38 !important;
}

.blocked-seller td.item_add_to_cart p::after {
  display: block;
  content: "Blocked seller";
  font-style: italic;
  text-align: center;
}

/* override green styles with red ones */
.blocked-seller a.button.button-green.cart-button,
.blocked-seller .button.button-green span,
.blocked-seller a.wantlist-button {
  background: #982E2C !important;
  background-image: linear-gradient(#BF3A38, #B33635) !important;
  border-color: #982E2C !important;
  border-top-color: #902C2A !important;
  border-bottom-color: #842827 !important;
  color: #CCCCCC !important;
}

.hidden-seller {
  display: none;
}

.de-blocked-seller-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNiAwQzQuNDA4NyAwIDIuODgyNTggMC42MzIxNDEgMS43NTczNiAxLjc1NzM2QzAuNjMyMTQxIDIuODgyNTggMCA0LjQwODcgMCA2QzAgNy41OTEzIDAuNjMyMTQxIDkuMTE3NDIgMS43NTczNiAxMC4yNDI2QzIuODgyNTggMTEuMzY3OSA0LjQwODcgMTIgNiAxMkM3LjU5MTMgMTIgOS4xMTc0MiAxMS4zNjc5IDEwLjI0MjYgMTAuMjQyNkMxMS4zNjc5IDkuMTE3NDIgMTIgNy41OTEzIDEyIDZDMTIgNC40MDg3IDExLjM2NzkgMi44ODI1OCAxMC4yNDI2IDEuNzU3MzZDOS4xMTc0MiAwLjYzMjE0MSA3LjU5MTMgMCA2IDBWMFpNMy4wMjM0NCAyLjE2NDA4QzMuODc0OCAxLjUwMjc4IDQuOTIxOTggMS4xNDM1IDYgMS4xNDI4NEM3LjI4ODIgMS4xNDI4NCA4LjUyMzY0IDEuNjU0NTggOS40MzQ1MyAyLjU2NTQ3QzEwLjM0NTQgMy40NzYzNiAxMC44NTcyIDQuNzExOCAxMC44NTcyIDZDMTAuODU2NSA3LjA3ODAyIDEwLjQ5NzIgOC4xMjUyIDkuODM1OTIgOC45NzY1NkwzLjAyMzQ0IDIuMTY0MDhaTTguOTc2NTYgOS44MzU5MkM4LjEyNTIgMTAuNDk3MiA3LjA3ODAyIDEwLjg1NjUgNiAxMC44NTcyQzQuNzExOCAxMC44NTcyIDMuNDc2MzYgMTAuMzQ1NCAyLjU2NTQ3IDkuNDM0NTNDMS42NTQ1OCA4LjUyMzY0IDEuMTQyODQgNy4yODgyIDEuMTQyODQgNkMxLjE0MzUgNC45MjE5OCAxLjUwMjc4IDMuODc0OCAyLjE2NDA4IDMuMDIzNDRMOC45NzY1NiA5LjgzNTkyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgZmlsbD0iI0U3NDEzRiIgc3Ryb2tlPSIjQkYzQTM4Ii8+PC9zdmc+);
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-top: 3px;
  margin-left: 3px;
  vertical-align: top;
}

.de-blocked-seller-icon + .tooltip {
  white-space: normal;
  opacity: 1;
}
