/* About Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
p.header {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
  display: inline-block;
}

p {
  font-family: 'Arial', sans-serif;
  color: #ccc;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  transition: all 0.3s ease;
}

em {
  color: white;
  font-weight: bold;
}

.seller {
  display: block;
  min-width: 10px;
}

.blocked-sellers {
  margin-top: 20px;
}

.blocked-sellers .seller {
  display: inline-block;
  position: relative;
}

.blocked-sellers .seller span {
  background-color: gray;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  transition: all .3s;
}

.blocked-sellers .seller span:hover {
  background-color: red;
  cursor: pointer;
  display: inline-block;
  transform: scale(1.2);
}

.blocked-sellers .seller span a {
  margin-left: 5px;
  color: gray;
  display: none;
}

.seller-input .btn {
  margin-top: -7px;
  margin-left: 10px;
}

.seller-input input {
  font-size: 20px;
  margin-top: 5px;
}

.logo {
  display:block;
  max-width: 400px;
  text-align: center;
  margin: 30px auto;
}

.errors {
  color: red;
  font-weight: bold;
}

.hide {
  display: none;
}

.hide-sellers {
  color: white;
  margin: 20px auto 40px auto;
}
