.blocked-seller {
  opacity: 1.5;
}

.blocked-seller .seller_info strong a {
  color: red !important;
  text-decoration: line-through;
}

.blocked-seller td.item_add_to_cart p::after {
  color: white;
  content: "Blocked seller";
  display: block;
  text-align: center;
  font-style: italic;
}

/* override green styles with red ones */
.blocked-seller .button.button_green,
.blocked-seller .button.button_green span {
    border-color: #982e2c !important;
    border-top-color: #902c2a !important;
    border-bottom-color: #842827 !important;
    background-image: linear-gradient(#BF3A38, #b33635);
    color: #ccc !important;
}
