/* About Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
p.header {
  display: inline-block;
  margin-right: 5px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #CCCCCC;
  line-height: 19px;
  transition: all 0.3s ease;
}

em {
  font-weight: bold;
  color: white;
}

.seller {
  display: block;
  min-width: 10px;
}

.blocked-sellers {
  margin-top: 20px;
}

.blocked-sellers .seller {
  display: inline-block;
  position: relative;
}

.blocked-sellers .seller span {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}

.blocked-sellers .seller span:hover {
  display: inline-block;
  background-color: red;
  cursor: pointer;
  transform: scale(1.2);
}

.blocked-sellers .seller span a {
  display: none;
  margin-left: 5px;
  color: gray;
}

.seller-input .btn {
  margin-top: -7px;
  margin-left: 10px;
}

.seller-input input {
  margin-top: 5px;
  font-size: 20px;
}

.logo {
  display: block;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.errors {
  font-weight: bold;
  color: red;
}

.hide {
  display: none;
}

.do-not-hide-sellers,
.hide-sellers,
.show-sellers-release {
  margin: 20px auto 40px auto;
  color: white;
}

#block-prefs {
  max-width: 500px;
}
