.blocked-seller {
  opacity: 1.5;
}

.blocked-seller .seller_info strong a {
  color: #BF3A38 !important;
}

.blocked-seller td.item_add_to_cart p::after {
  display: block;
  content: "Blocked seller";
  font-style: italic;
  text-align: center;
}

/* override green styles with red ones */
.blocked-seller .button.button-green,
.blocked-seller .button.button-green span {
  background-image: linear-gradient(#BF3A38, #B33635);
  border-color: #982E2C !important;
  border-top-color: #902C2A !important;
  border-bottom-color: #842827 !important;
  color: #CCCCCC !important;
}

.hidden-seller {
  display: none;
}

.de-blocked-seller-icon {
  background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0C4.4087 0 2.88258 0.632141 1.75736 1.75736C0.632141 2.88258 0 4.4087 0 6C0 7.5913 0.632141 9.11742 1.75736 10.2426C2.88258 11.3679 4.4087 12 6 12C7.5913 12 9.11742 11.3679 10.2426 10.2426C11.3679 9.11742 12 7.5913 12 6C12 4.4087 11.3679 2.88258 10.2426 1.75736C9.11742 0.632141 7.5913 0 6 0V0ZM3.02344 2.16408C3.8748 1.50278 4.92198 1.1435 6 1.14284C7.2882 1.14284 8.52364 1.65458 9.43453 2.56547C10.3454 3.47636 10.8572 4.7118 10.8572 6C10.8565 7.07802 10.4972 8.1252 9.83592 8.97656L3.02344 2.16408ZM8.97656 9.83592C8.1252 10.4972 7.07802 10.8565 6 10.8572C4.7118 10.8572 3.47636 10.3454 2.56547 9.43453C1.65458 8.52364 1.14284 7.2882 1.14284 6C1.1435 4.92198 1.50278 3.8748 2.16408 3.02344L8.97656 9.83592Z" transform="translate(1 1)" fill="#E7413F" stroke="#BF3A38"/></svg>');
  display: inline-block;
  height: 14px;
  position: absolute;
  width: 14px;
  margin-left: 3px;
  margin-top: 3px;
}
