/* About Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
p.header {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
  display: inline-block;
}

p {
  font-family: 'Arial', sans-serif;
  color: #ccc;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  transition: all 0.3s ease;
}

a {
  color: #809bbe;
}

a:visited {
  color: #a590d0;
}

a:hover {
  color: #cae0fa;
}

ul li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: white;
    line-height: 1.6em;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 15px;
}

ul li a,
ul li a:hover,
ul li a:visited {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

ul li.no-bullet {
    list-style-type: none;
}

table, td, th {
    color: #666;
    border-color: #666 !important;
}

table caption {
    color: #666;
    margin: 15px 0 0 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
}

.table {
    margin-top: 25px;
    font-family: sans-serif;
    margin-bottom: 150px;
}

.mint {
    color: #00b4db !important;
}

.near-mint {
  color: #00dbb4 !important;
}

.very-good-plus {
  color: #00db1f !important;
}

.very-good {
  color: #85ab11 !important;
}

.good-plus {
  color: #f6bf48 !important;
}

.good {
  color: #d87307 !important;
}

.fair {
  color: #e54803 !important;
}

.poor {
  color: #ff0000 !important;
}

em {
  color: white;
  font-weight: bold;
}

.blocked-sellers {
  margin-top: 20px;
}

.blocked-sellers .seller {
  display: inline-block;
  /*min-width: 100px;*/
}

.blocked-sellers .seller span {
  background-color: gray;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  transition: all .3s;
}

.blocked-sellers .seller span:hover {
  background-color: red;
  cursor: pointer;
  display: inline-block;
  transform: scale(1.2);
  /*box-shadow: 0px 3px 5px 0px black;*/
}

.blocked-sellers .seller span a {
  margin-left: 5px;
  color: gray;
  display: none;
}

.seller-input .btn {
  margin-top: -7px;
  margin-left: 10px;
}

.seller-input input {
  font-size: 20px;
  margin-top: 5px;
}

.logo {
  display:block;
  max-width: 400px;
  text-align: center;
  margin: 30px auto;
}

.errors {
  color: red;
  font-weight: bold;
}
