// Smaller padding on facets
div[class*="creditsFacetsContainer_"],
div[class*="facetsContainer_"] {
  button[class*="facets_"] {
    p[class*="facet"] {
      padding: 4px 8px 4px 32px !important;
      color: #2653d9;
    }
    p[class*="subFacets_"] {
      padding-bottom: 0 !important;
      color: #2653d9;
    }
  }

  // Smaller font sizes on facets
  button[class*="superFacets_"] {
    p:first-of-type {
      font-size: 16px !important;
    }
    height: 34px !important;
  }
  button[class*="facets_"] {
    p[class*="facet_"] {
      font-size: 14px !important;
    }
    span[class*="subFacetTotalCountsSelected_"] p {
      color: black;
    }
    p[class*="superFacet_"] {
      color: #2653d9;
    }
    p[class*="subFacets_"] {
      margin-top: .25rem;
      margin-bottom: .25rem;
      font-size: 14px;
      color: #2653d9;
    }
  }

  span[class*="subFacetTotalCounts_"],
  p[class*="superFacetCount_"] {
    background: none !important;
  }

  p[class*="superFacetCount_"] {
    font-weight: bold;

    &[class*="superFacetCountExpanded_"] {
      color: black;
    }
  }
}


// Smaller images / padding on release rows
table[class*="releases_"] {
  tr[class*="textWithCoversRow_"] {
    td {
      padding: .25em !important;
    }
    img,
    div[class*="fallback_"] {
      width: 50px !important;
      height: 50px !important;
    }
  }
  tr[class*="textOnlyRow_"] {
    td {
      padding: .25em !important;
    }

    button[class*="versionsButton_"] {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
    }
  }
}

div[class*="releasesGrid_"] {
  tr[class*="textWithCoversRow_"] {
    grid-template-columns: 70px 2fr 1fr 1fr .7fr .3fr .5fr .5fr !important;

    button[class*="versionsButton_"] {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
    }
  }
  div[class*="textWithCovers_"] {
    gap: 4px !important;
  }
}

div[class*="releasesPath_"] span h2:last-child {
  padding-left: 0;
}

div[class*="releasesPath_"] svg {
  padding-left: 4px;
}

// DARK THEME OVERRIDES //

.de-dark-theme {
  p[class*="facet"],
  p[class*="subFacets_"] {
    color: var(--link) !important;
  }
  div[class*="facetsContainer_"] {
    p[class*="superFacetCount_"],
    button[class*="superFacets_"] p[class*="superFacetCount_"],
    button[class*="facetSelected_"] span[class*="subFacetTotalCounts_"],
    span[class*="subFacetTotalCounts_"],
    span[class*="subFacetTotalCountsSelected_"],
    p[class*="superFacetCount_"] {
      background: none !important;
    }
  }
}
