.currency-converter {
  background-color: white;
  border: 1px solid grey !important;
  border-radius: 5px 0 0 5px;
  bottom: -250px;
  box-shadow: 0 5px 10px #000;
  color: gray !important;
  margin: 10px 0 0 10px;
  padding: 20px 30px 0 20px;
  position: fixed;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 350px;
  z-index: 2;
}

.currency-converter .ui-wrap {
  margin-bottom: 10px;
}

.currency-converter .top,
.currency-converter .bottom {
  clear: both;
  display: block;
}

.currency-converter .currency {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.currency-converter .currency-select {
  display: inline-block;
  margin-left: 5px;
}

.currency-converter #clearBtn {
  display: inline-block;
  float: right;
}

.currency-converter input {
  margin-top: 10px;
}

.currency-converter input#ccInput {
  font-size: 40px;
  height: 60px;
  margin-top: 10px;
  padding-left: 10px;
  width: 350px;
}

.currency-converter input#ccInput::-webkit-outer-spin-button,
.currency-converter input#ccInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency-converter span#ccOutput {
  display: block;
  font-size: 40px;
  height: 60px;
  margin-top: 30px;
  width: 350px;
}

.currency-converter #errors {
  color: red;
  text-transform: uppercase;
  position: absolute;
  top: 72px;
  left: 80px;
  font-weight: bold;
}

.currency-converter .toggle {
  border-top: 1px solid grey !important;
  border-left: 1px solid grey !important;
  border-right: 1px solid grey !important;
  border-bottom: 1px solid white;
  background-color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 3px 8px;
  position: absolute;
  right: -1px;
  top: -28px;
  border-radius: 10px 0 0 0;
  z-index: 3;
}

.show-converter {
  bottom: 0;
}

.show-converter .toggle {
  border-radius: 0;
}
