.currency-converter {
  background-color: white;
  border: 5px solid grey !important;
  border-radius: 5px 0 0 5px;
  bottom: -256px;
  box-shadow: 0 5px 10px #000;
  color: gray !important;
  margin: 10px 0 0 10px;
  padding: 20px 20px 0 20px;
  position: fixed;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 350px;
  z-index: 1;
}

.currency-converter .ui-wrap {
  margin-bottom: 10px;
}

.currency-converter .top,
.currency-converter .bottom {
  clear: both;
  display: block;
}

.currency-converter .currency {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.currency-converter .currency-select {
  display: inline-block;
  margin-left: 5px;
}

.currency-converter #clearBtn {
  display: inline-block;
  float: right;
}

.currency-converter input {
  margin-top: 10px;
}

.currency-converter input#input {
  font-size: 40px;
  height: 60px;
  margin-top: 10px;
  padding-left: 10px;
  width: 350px;
}

.currency-converter input#input::-webkit-outer-spin-button,
.currency-converter input#input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency-converter span#output {
  display: block;
  font-size: 40px;
  height: 60px;
  margin-top: 30px;
  width: 350px;
}

.currency-converter #errors {
  color: red;
  text-transform: uppercase;
}

.currency-converter .toggle {
  background-color: gray !important;
  color: white !important;
  cursor: pointer;
  font-size: 10px;
  padding: 3px 8px;
  position: absolute;
  right: -5px;
  top: -30px;
  border-radius: 10px 0 0 0;
}

.show-converter {
  bottom: 0;
}

.show-converter .toggle {
  border-radius: 0;
}
