/*
 TODO: Please stop being lazy and rewrite this garbage.
       You can probably get it down to half its current size.
 */
*:not(select) {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #CCCCCC !important;
}

b {
  color: #FFFFFF !important;
}

html,
select option,
#quicklister #resultsPane,
#keyboard_shortcuts_modal,
#subform_shortcuts_modal,
.bulk_actions_section,
.bulk_actions_submit,
.action_block,
.box-card,
#mr_panel,
.inline-error,
.inline-error-with-actions {
  background-color: #323334 !important;
}

body,
#quicklister .pane .inner_pane,
.section.recommendations .cards {
  background: transparent !important;
}

select[size] {
  background-color: #2F2F2F !important;
}

.is_not_mobile .notes_field:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

#youtube_tracklist {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: #393939 !important;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background: #666666;
  -webkit-border-radius: 0.5ex;
  border-radius: 0.5ex;
}

::-webkit-scrollbar-corner {
  background: rgb(25, 25, 25) !important;
}

#quicklister #searchPane .main_search form::-webkit-scrollbar-thumb,
#quicklister #searchPane .my_upload_wrapper::-webkit-scrollbar-thumb,
#quicklister #searchPane .my_upload_wrapper ul.searchFields::-webkit-scrollbar-thumb,
#quicklister #resultsPane .inner_pane::-webkit-scrollbar-thumb,
#quicklister #resultsPaneDefault .inner_pane::-webkit-scrollbar-thumb,
#quicklister .releasePreview::-webkit-scrollbar-thumb, #quicklister #postPane::-webkit-scrollbar-thumb,
#quicklister #postPaneDefault::-webkit-scrollbar-thumb {
  background-color: #454545 !important;
  border: 2px solid #454545 !important;
  border-radius: 8px !important;
}

body.mac .force_vertical_scrollbar::-webkit-scrollbar-thumb {
  background-color: red !important;
  border: 2px solid red !important;
  border-radius: 8px !important;
}
/* Link Colors */

/* Links */
a,
a i,
.right li a b,
.tab_menu a:visited,
.icon.icon-ellipsis-h,
.pagination_page_links a,
.row_actions a *,
.link_text,
a.sortable-link span,
a.sortable-link:visited i.icon,
a span.rating_count,
span.marketplace_for_sale_count a strong,
a .tracklist_track_title,
.FacetGroup a span,
#track-release a span,
.release-info a span {
  color: #809BBE !important;
}

a {
  outline: none !important;
}

button:focus {
  outline: 0 !important;
}

/* Visited Links */

a:visited,
.right li a:visited b,
a:visited:not(.button) i,
a:visited span.rating_count,
.pagination_page_links a:visited,
.row_actions a:hover *
span.marketplace_for_sale_count a:visited strong,
a:visited .tracklist_track_title,
.FacetGroup a:visited span,
#track-release a:visited span,
.release-info a:visited span {
  color: #A590D0 !important; /* OG: #7d65ae*/
}

/* Link Hovers */

a:hover:not(.button),
.footer a:hover i,
.right li a:hover b,
a:hover span.rating_count,
.pagination_page_links a:hover i,
#site_footer_list li a:hover i,
.row_actions a:hover *,
span.marketplace_for_sale_count a:hover strong,
a:hover .tracklist_track_title,
.FacetGroup a:hover span,
#track-release a:hover span,
.release-info a:hover span {
  color: #CAE0FA !important;
}

/* gray text links */

#site_navigation > li > a,
#site_navigation > li .nav_group_control,
#site_navigation > li .nav_group_control i,
.site_nav_tray,
.site_nav_tray h4,
.site_nav_submenu a,
.site_nav_tray a,
.site_nav_submenu a:visited,
.site_nav_tray a:visited,
#site_navigation > li > a:hover i,
#site_navigation > li .nav_group_control:hover i,
#activity_menu > li > a i,
#activity_menu > li .nav_group_control i,
.activity_menu_total,
#activity_menu > li > a,
#activity_menu > li > a:hover,
#activity_menu > li .nav_group_control:hover,
#activity_menu > li .nav_group_control,
#activity_menu > li .nav_group_control span {
  color: #CCCCCC !important;
}

#messages_list .messagelist tr.unread_message {
  background-color: #444444 !important;
  border-bottom: 1px solid #323334 !important;
}

.menu,
.ui-menu,
.site_nav_submenu,
.site_nav_tray,
.ac_div .yui-ac-content,
#feedSubscribeLine .handlersMenuPopup,
#site_footer_language ul {
  background: #000000 !important;
}

#site_nav_submenu_account i,
#site_nav_submenu_account i:visited,
#site_navigation i,
#site_navigation i:visited {
  color: white !important;
}

.ui-autocomplete a {
  border-bottom: 1px #454545 solid !important;
}

.ui-autocomplete a:hover {
  background: #323334 !important;
}

ol#search_tabs li label {
  background-color: #2F2F2F !important;
}

ol#search_tabs li input[type="radio"]:checked + label {
  background-color: #326FB2 !important;
  color: white !important;
}

li.ui-menu-item a span.sublabel {
  color: gray !important;
}

#site_footer_wrap,
.search_group .group_view_more {
  border-top: 1px #454545 solid !important;
}

.search_group .group_view_more {
  background-color: #454545 !important;
}

.site_nav_tray {
  top: 55px !important;
  border: 1px #000000 !important;
}

/* Muted Gray */

.muted,
.broadcast_table .gutter .icon_wrapper,
.facet_count,
table.table_block td.empty_row {
  color: #858585 !important;
}

blockquote,
#forum_search_results .search-result-snippet {
  background-color: #292929 !important;
  box-shadow: none !important;
}

.index_track .tracklist_track_title blockquote .tracklist_extra_artist_span {
  background-color: transparent !important;
}

blockquote .tracklist_extra_artist_span {
  background-color: #323334 !important;
}

mark {
  margin-left: 3px !important;
  background: gray !important;
  color: #000000 !important;
}
.side_menu a:hover {
  background-color: #2F2F2F !important;
}

.order-page-aside,
.item_actions_well {
  background-color: #1F1F1F !important;
}

.box_header_row {
  background-color: #2F2F2F !important;
  border-bottom: 1px #454545 solid !important;
}

.box-card .box-card-header {
  border-bottom: 1px solid #1F1F1F !important;
}

.order-user-address,
.user-shipping-address {
  border-left: 4px solid #858585 !important;
}

table.list tr.new td.status,
table.cw_releases tr.new td.status,
table.cards tr.new td.status,
table.release_list_table tr.new td.status {
  background: #F2B90D !important;
}

table.mpitems tr,
aside li > a,
.no_aside .doc_question > a {
  border-bottom: 1px dotted #454545 !important;
}

/* green success message after purchase */
.cart_page .order_success {
  background-color: #142E09 !important;
}

/* in collection */
.cw_block.cw_block_collection {
  background-color: #1c3814 !important;
  border: 1px solid #60C43F !important;
  border-radius: 3px;
  margin-top: 10px;
}

.cw_block.cw_block_collection div {
  margin-bottom: 0.2rem;
}

.cw_block.cw_block_collection h2 {
  border-color: #60C43F !important;
}

.cw_block.cw_block_wantlist {
  background-color: #561D1D !important;
  border: 1px solid #E7413F !important;
  border-radius: 3px;
  margin-top: 10px;
}

.cw_block.cw_block_wantlist h2 {
  border-color: #E7413F !important;
}

.cw_block h2 {
  border-bottom: 1px solid #454545 !important;
  color: white !important;
}

.cw_block .notes_field_label, .notes_add, .notes_text {
  color: white !important;
}

a.readmore_toggler {
  background: #323334 !important;
}

/* search input */
.aside_search_form,
.cw_block .notes_textarea {
  background: #292929 !important;
  color: white !important;
}

.aside_search_form {
  border: 1px solid #454545 !important;
}

/* TODO: might make this an option */
.notes_textarea {
  min-height: 100px !important;
}

#page_aside .selected_facets li a,
#page_aside .selected_facets li a span,
#page_aside .selected_facets li a i,
#page_aside .selected_facets li a i:visited,
.facets_nav a.selected,
.current_filter {
  background-color: #72A3D8 !important;
  border-radius: 2px !important;
  color: white !important;
}

.order_status_icon {
  background-color: #454545 !important;
  border: 2px solid #858585 !important;
}

/* verticle timeline strand on orders */
.thread.thread_linear .thread_message:before {
  background-color: #858585 !important;
}

/* white icons */

.selected_marketplace_filters .icon,
.icon.icon-cogs,
.icon.icon-list-alt,
.icon.icon-font,
.selected_marketplace_filters a.clear_selected_marketplace_filters i,
.selected_marketplace_filters a.clear_selected_marketplace_filters i:visited,
li.current.menu-item a span {
  color: white !important;
}

/* white icons on colored buttons */
a#profile_friends_url,
button.button-blue i,
a.button-blue i,
button.button-green i,
a.button-green i,
button.button-red i,
a.button-red i {
  color: white !important;
}

#user_header .user_avatar {
  border: 3px solid white !important;
}

.credit_type.selected .facet_count {
  color: white !important;
}

table.cards tr.sub_first.card.sub,
table.cards tr.sub_first.card.sub td {
  box-shadow: inset 0 10px 5px -8px #202020 !important;
}

table.cards tr.sub_last.card.sub,
table.cards tr.sub_last.card.sub td {
  box-shadow: inset 0 -10px 5px -8px #202020 !important;
}

table.cards tr.sub {
  background-color: #292929 !important;
}

.section.tracklist table tr.first {
  border-top: none !important;
}

.section.tracklist table tr.tracklist_track.track_heading {
  background-color: #292929 !important;
}

.module_blocks .dashboard_addmodules,
ul.module_blocks > li.module_placeholder,
.uploader {
  border: 5px dashed #454545 !important;
}

.has_files #uploader_messaging {
  background-color: #2F2F2F !important;
}

.uploader:hover {
  border-color: #4DD2FF !important;
}

.vid_list ul {
  border: 2px dashed #454545 !important;
}

#quicklister .pane .inner_pane {
  border-right: 2px dashed #454545 !important;
}

#items {
  border-right: 2px solid #454545 !important;
}

table.table_block tbody tr.even,
.cart_page .order_contents tr.even,
.cart_page .order_suggestions,
ul.as_table_block li.body_row.even,
ul.as_table_block li.header,
ul.as_table_block li.footer,
ol.as_table_block li.header,
ol.as_table_block li.footer {
  background-color: #2F2F2F !important;
}

.thread .thread_message:first-child {
  border-top: none !important;
}

.thread.thread_linear .thread_message {
  border: none !important;
}

/* border top standard text */

.thread .thread_message,
.thread.thread_linear .thread_message .thread_content,
.section.social .section_content,
#preview,
ul.module_blocks .footer,
.doc_resources,
.section.tracklist table tr,
table.sell td,
.format_descriptions,
ul.subs_list li,
.history table tr,
table.table_block tbody tr.delimit_above {
  border-top: 1px solid #454545 !important;
}

ul.subs_list li:hover {
  background: #292929 !important;
}

hr {
  background: #454545 !important;
}



#full-width-header,
.toolbar-wrapper,
.footer-wrapper {
  background: #222222 !important;
}

#full-width-header .column-content {
  background: #323334 !important;
}

#full-width-header #full-width-header-bar,
#user_header #full-width-header-bar {
  background-color: rgba(0,0,0,0.7) !important;
  color: white !important;
}

#full-width-header #full-width-header-bar a,
#user_header #full-width-header-bar a,
#full-width-header #full-width-header-bar a:visited,
#user_header #full-width-header-bar a:visited {
  color: white !important;
}

#full-width-header #full-width-header-navigation li.active_header_section {
  background-color: #2F2F2F !important;
  text-decoration: none !important;
}

#full-width-header #full-width-header-navigation li:last-child,
.profile_sections.user_profile li:last-child {
  border-right: 1px solid #454545 !important;
}

.profile_sections.user_profile li {
  margin-left: -4px;
}

/* plain buttons (preview, add comment) */
.preview_comment_button_wrap #previewBtn,
#postBtn,
#cancelDelete,
input.preview_button {
  background-color: #F2F2F2!important;
  border-color: #DBDBDB!important;
  border-top-color: #E0E0E0!important;
  border-bottom-color: #D3D3D3!important;
}

.preview_comment_button_wrap #previewBtn:hover,
#postBtn:hover {
  background-image: -webkit-linear-gradient(#FFFFFF, #FAFAFA)!important;
  background-image: linear-gradient(#FFFFFF, #FAFAFA)!important;
  border-color: #D9D9D9!important;
  border-top-color: #D3D3D3!important;
  border-bottom-color: #CCCCCC!important;
}

/* gray text on white buttons */

.button,
a.button,
.button i,
.button span,
.toggle_wantlist_add,
.header-actions a.button:visited, /* settings button on profile page */
.inline_buttons.no_offer a,
a.button.inv_add_button,
.section_content.release_info_buttons a:not(.button-blue) {
  color: #454545 !important;
}

/* force color overrides on sell release/history links: ^= starts with, $= ends with, *= contains */

div.section_content.release_info_buttons a[href^="/sell/history/"],
span.marketplace_for_sale_count a[href^="/sell/release/"] strong,
span.marketplace_for_sale_count a[href^="/sell/list?master_id"] strong {
  color: #809BBE !important;
}

div.section_content.release_info_buttons a[href^="/sell/history/"]:visited {
  color: #A590D0 !important;
}

div.section_content.release_info_buttons a[href^="/sell/history/"]:hover,
span.marketplace_for_sale_count a[href^="/sell/release/"]:hover strong,
span.marketplace_for_sale_count a[href^="/sell/list?master_id"]:hover strong {
  color: #CAE0FA !important;
  text-decoration: underline !important;

  text-decoration-color: #CAE0FA !important;
}

div.multiple_buttons a[href^="/lists/"]:visited,
div.multiple_buttons a[href^="/lists/"]:visited {
  color: #454545 !important;
}

a.inset_button[disabled] {
  background: rgba(0, 0, 0, 0.5) !important;
  border-color: #2F2F2F !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 1px inset !important;
}

.tag-list a {
  display: block !important;
  padding: 2px 5px !important;
  background: #326FB2 !important;
  border-radius: 2px !important;
  color: white !important;
}

#site_header .button-green.button,
.button.button-green,
#login button,
.inline_buttons.no_offer a.button.button-green,
.bulk_actions_submit input,
.button.button-green span {
  background-color: #60C43F !important;
  border-color: #4EA332 !important;
  border-top-color: #52AB34 !important;
  border-bottom-color: #49972E !important;
  color: white !important;
}

.button.button-green[disabled],
.button.button-green[disabled] i,
.button.button-green[disabled]:hover,
.button.button-green[disabled]:active,
.button.button-green[disabled]:visited,
.button.button-green[disabled]:focus,
.button.button-blue[disabled],
.button.button-blue[disabled]:hover,
.button.button-blue[disabled]:active,
.button.button-blue[disabled]:visited,
.button.button-blue[disabled]:focus,
.button.button-red[disabled],
.button.button-red[disabled]:hover,
.button.button-red[disabled]:active,
.button.button-red[disabled]:visited,
.button.button-red[disabled]:focus,
.button.button_dark[disabled],
.button.button_dark[disabled]:hover,
.button.button_dark[disabled]:active,
.button.button_dark[disabled]:visited,
.button.button_dark[disabled]:focus,
.button.button-white[disabled],
.button.button-white[disabled]:hover,
.button.button-white[disabled]:active,
.button.button-white[disabled]:visited,
.button.button-white[disabled]:focus,
.button[disabled],
.button[disabled] i,
.button[disabled] span,
.button[disabled]:hover,
.button[disabled]:active,
.button[disabled]:visited,
.button[disabled]:focus {
  background-color: #F2F2F2 !important;
  background-image: linear-gradient(#F2F2F2, #EAEAEA) !important;
  border-color: #DBDBDB !important;
  border-top-color: #E0E0E0 !important;
  border-bottom-color: #D3D3D3 !important;
  color: #999999 !important;
  cursor: pointer !important;
}

.cart_page .order_success {
  border: 1px solid #9ACD89 !important;
}

.button.button-red,
.button.button-red span {
  border-color: #982E2C !important;
  border-top-color: #902C2A !important;
  border-bottom-color: #842827 !important;
  color: white !important;
}

a.button.button_facebook_login span,
.button.button-blue,
a.button.button-blue,
a.button-blue,
#user_header .button-blue,
.button.button-blue span {
  background-color: #4588C4 !important;
  border-color: #3571A6 !important;
  border-top-color: #3776AE !important;
  border-bottom-color: #31699B !important;
  color: white !important;
}

a.button.button_facebook_login.blue {
  background-color: #4588c4 !important;
}

.button.button-green .icon,
.button.button-red .icon {
  color: white !important;
}

/* red add to cart button in shop */

input.btn {
  background: #F45B4F !important;
  color: white !important;
}

a.btn-default,
a.btn-default i,
a.btn-default:hover,
a.btn-default:focus,
a.btn-default:active,
a.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #EBEBEB !important;
  border-color: #ADADAD !important;
  color: #2F2F2F !important;
}

.btn-primary,
.btn-primary:visited {
  background-color: #428BCA !important;
  border-color: #357EBD !important;
  color: white !important;
}

.btn-success,
.btn-success:visited {
  background-color: #5CB85C !important;
  border-color: #4CAE4C !important;
  color: white !important;
}

.btn-danger,
.btn-danger:visited {
  background-color: #D9534F !important;
  border-color: #D43F3A !important;
  color: white !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #ED9C28 !important;
  border-color: #D58512 !important;
  color: white !important;
}

button.button.button-white {
  background-color: white !important;
  background-image: none !important;
  color: #595959;
}

button.mr_toggler.button.button-white,
button.mr_toggler.button.button-white i {
  background-color: gray !important;
  background-image: none !important;
  color: #CCCCCC !important;
}

.artist_search_form {
  background: #292929 !important;
}

.artist_search_form button {
  background: none !important;
}

.button.button-white:hover {
  background-color: #F2F2F2 !important;
}

.price,
.price span,
.cart_page .order_summary_errors,
#search_results .needs_changes,
#search_results .needs_changes i,
a.report_item.mplabel.hide_mobile,
.required {
  color: #E7413F !important;
}

td.price_flag div {
  border-top: 8px solid red !important;
  border-right: 8px solid #323334 !important;
}

div.price_flag_inline {
  border-top: 8px solid red !important;
  border-right: 8px solid #454545 !important;
}

/* weird chrome textarea override */

#review_compose.form_block textarea,
textarea,
input,
.lookup-field.credit-lookup.fake-input
.lookup-field.credit-lookup.fake-input input {
  background: #292929 !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
  color: white !important;
}

#review_compose.form_block div.review_preview {
  min-height: 10px !important;
  padding: 5px !important;
  border: 1px solid #454545 !important;
}

.form_block legend {
  background-color: #2F2F2F !important;
  border-bottom: 1px solid #454545 !important;
}

.product-options {
  border-top: 1px solid #454545 !important;
  border-bottom: 1px solid #454545 !important;
}

button.lazy_gallery_nav.lazy_gallery_next {
  background: linear-gradient(to left, #323334, rgba(41, 41, 41, 0)) !important;
}

button.lazy_gallery_nav.lazy_gallery_prev {
  background: linear-gradient(to right, #323334, rgba(41, 41, 41, 0)) !important;
}

/* might have to change this - scroll release thumbs in modal */
.image_gallery_thumbs:after {
  background: none !important;
}

.image_gallery_thumb.current {
  border-color: white !important;
}

select {
  background-color: default !important;
  border-color: default !important;
  color: #000000 !important;
}

/* bottom line border rule */
table.release_list_table tbody tr,
.review,
.pagination.top,
#list_details .listitem,
.order-item-row,
#youtube_tracklist,
.react-modal-header,
#messages_list .messagelist tr,
table.marketplace-table-react td,
.cards .card.card_normal,
.cards .card.card_text-only,
#product h3.collection-title,
.order-page-header,
table.table_block thead tr,
table.table_block tfoot tr,
.ui-widget-header,
table.sell tr,
.doc_resources,
table.cards tr, div.section h3,
table.subform_table tr,
.history_browser_facet_found {
  border-bottom: 1px solid #454545 !important;
}

table.release_list_table.table_block thead tr,
.order_total_row,
table.table_block thead tr,
table.table_block tfoot tr,
.is_not_mobile table.release_list_table tbody tr:hover,
.doc_resource:first-child,
li.section-box.section_as_link:hover,
li.doc_question.section_as_link:hover,
li.doc_resource.section_as_link:hover,
.ref_guidelines_list .ref_guidelines_heading:hover,
.drag_drop_field_list > li,
.react_drag_drop_field_list .drag_drop_content,
.editable_item,
.history tr.even, .history tr:nth-child(even),
table.diff th,
.ui-autocomplete a,
.subform-lookup-results-list,
.subform-lookup-results,
.rh {
  background: #2F2F2F !important;
}

table.release_list_table.layout_med td:nth-child(-n+4),
table.release_list_table.layout_med th:nth-child(-n+4) {
  border-left: none !important;
}

table.release_list_table thead th,
#full-width-header #full-width-header-navigation a,
.profile_sections.user_profile a,
.section-box:nth-child(3n+1),
.doc_resource:nth-child(3n+1) {
  border-left: 1px solid #454545 !important;
}

table.release_list_table tbody td,
table.subform_table td,
.filtergroup {
  border-left: 1px dotted #454545 !important;
}

.doc_article {
  border-right: 1px dotted #454545 !important;
}

.card .card_body .card_status,
.card .card_body .card_status a,
.card .card_body .card_status i {
  color: gray !important;
}

.pagination.bottom,
#cartform table tr td {
  border-top: 1px solid #454545 !important;
}

#cartform th,
#cartform tr td {
  color: white !important;
}

#cartform tr td.remove a,
#cartform tr td strong {
  color: #E7413F !important;
}

.order-total-row {
  border-bottom: 2px solid #454545 !important;
}

/* green shipped */
.skittles .skittle.skittle_collection,
.skittle.skittle_collection,
.skittle.skittle_collection span,
#order_process .order_step .order-status-label.order-status-label-shipped,
.order-status-label.order-status-label-shipped,
.order-status-label.order-status-label-shipped span,
.order-status-label.order-status-label-shipped i,
.order-status-label.order-status-label-new-order {
  background-color: #60C43F !important;
  color: white !important;
}

.skittles .skittle.skittle_collection span.count,
span.skittle.skittle_wantlist span.count,
.skittle.skittle_inventory span.count,
span.skittle.skittle_wantlist.needs_delegated_tooltip span.count {
  color: white !important;
}

.skittle.skittle_wantlist,
span.skittle.skittle_wantlist.needs_delegated_tooltip {
  background-color: #BF3A38 !important;
}

.skittle.skittle_inventory {
  background-color: #326FB2 !important;
}


/* NEW SKITTLES */

.show-new-skittles .skittles .skittle.skittle_collection,
.show-new-skittles .skittle.skittle_collection,
.show-new-skittles .skittles .skittle.skittle_collection span.count,
.show-new-skittles .skittle.skittle_collection .icon.icon-collection,
.show-new-skittles .skittle.skittle_collection span {
  background-color: transparent !important;
  color: #3FC4B2 !important;
}

/* inventory */
.show-new-skittles .skittle.skittle_inventory,
.show-new-skittles a.skittle.skittle_inventory i,
.show-new-skittles .skittle.skittle_inventory span.count,
.show-new-skittles a.skittle.skittle_inventory span.count:visited {
  background-color: transparent !important;
  color: #A590D0 !important;
}

.show-new-skittles .card_actions {
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.85) !important;
}

#manual_update_collection_or_wantlist .show-new-skittles .card_actions {
  background: transparent !important;
}

/* wantlist */
.show-new-skittles span.skittle.skittle_wantlist span.count,
.show-new-skittles span.skittle.skittle_wantlist.needs_delegated_tooltip span.count {
  background-color: transparent !important;
  color: #F37519 !important;
}

.show-new-skittles .skittle.skittle_wantlist,
.show-new-skittles .skittle.skittle_wantlist > *,
.show-new-skittles span.skittle.skittle_wantlist.needs_delegated_tooltip {
  background-color: transparent !important;
  color: #F37519 !important;
}

.icon.icon-li.icon-check.icon-green,
.icon.icon-check.icon-green {
  color: #3FC4B2 !important;
}

#order_process .order_step .order-status-label.order-status-label-shipped span,
#order_process .order_step .order-status-label.order-status-label-shipped i,
.order-status-label.order-status-label-new-order span,
.order-status-label.order-status-label-new-order i,
.order_status_icon.shipped i,
.order_status_icon.buyer_contacted i,
.order_status_icon.cancelled i,
.order_status_icon.invoice_sent i,
.order_step.active_step span {
  color: white !important;
}

/* blue invoiced */
.order-status-label.order-status-label-invoice-sent,
.order-status-label.order-status-label-invoice-sent span,
.order-status-label.order-status-label-invoice-sent i {
  background: #407FBF !important;
  border-color: #3973AC !important;
  color: white !important;
}

/* yellow payment recieved */
.order_status_icon.payment_received,
 .order_status_icon.payment_received i,
 .order_status_icon.payment_received span {
  background: #BF9F40 !important;
  border-color: white !important;
  color: #F9F5EC !important;
}

.order_status_icon.shipped {
  background: #60BF40 !important;
  border-color: white !important;
}

.order_status_icon.buyer_contacted {
  background: #4580B7 !important;
  border-color: white !important;
}

.order_status_icon.invoice_sent {
  background: #407FBF !important;
  border-color: white !important;
  color: #ECF2F9 !important;
}

/* yellow payment recieved */
.order-status-label.order-status-label-payment-received,
.order-status-label.order-status-label-payment-received span,
.order-status-label.order-status-label-payment-received i {
  background: #BF9F40 !important;
  border-color: #AC8F39 !important;
  color: #F9F5EC !important;
}

.cart_page .order_shipping_hint {
  background: #DBEDFF !important;
  border: 1px solid #8AC4FF !important;
}

.order_pay_now span,
.order_pay_now i {
  color: white !important;
}

/* red canceled */
.order-status-label.order-status-label-cancelled,
.order-status-label.order-status-label-cancelled span,
.order-status-label.order-status-label-cancelled i {
  background: red !important;
  color: white !important;
}

.order_status_icon.cancelled {
  background: red !important;
  border-color: white !important;
}

.order-status-label.order-status-label-payment-pending,
.order-status-label.order-status-label-payment-pending i,
.order-status-label.order-status-label-payment-pending span,
.order_status_icon.payment_pending,
.order_status_icon.payment_pending i,
.order_status_icon.payment_pending span {
  background: #F2ECD9 !important;
  border-color: white !important;
  color: #393013 !important;
}

#site_header_wrap {
  background-color: #000000 !important;
  border-bottom: none !important;
}

.icon.icon-search {
  color: gray !important;
}

.video-search-js .icon.icon-search {
  color: white !important;
}

.pos_rating,
.pos_rating i {
  background: #A8D388 !important;
  color: #397326 !important;
}

.pos_rating a,
.pos-rating-text strong,
.pos-rating-text i {
  color: #397326 !important;
}

.neg_rating,
.neg_rating i {
  background: #EC9C9C !important;
  color: #733326 !important;
}

.neg_rating a,
.neg-rating-text strong,
.neg-rating-text i {
  color: #822917 !important;
}

.neu_rating,
.neu_rating i {
  background: #CFCDC9 !important;
  color: #504E49 !important;
}

textarea,
.form_block textarea,
#review_compose.form_block textarea,
textarea.thread-compose-message,
#pw_current,
#pw_new,
#pw_confirm_new,
input[type="text"]:not(.image_copy_permalink_text) {
  background: #292929 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
}

#site_search {
  background-color: #292929 !important;
}

#site_search input#search_q {
  border: none !important;
}

table.cards tr.credit_header,
ul.module_blocks .header,
table.table_block tfoot tr {
  background: #454545 !important;
  border-bottom: 1px solid #454545 !important;
}

/* x icons on dashboard modules */
ul.module_blocks .header i {
  color: #CCCCCC !important;
}

div.search_result.needschanges div.flag,
table.cards tr.change td.status,
table.list tr.change td.status,
table.cw_releases tr.change td.status,
table.release_list_table tr.change td.status {
  background: red !important;
}

table.list tr.edit td.status,
table.cw_releases tr.edit td.status,
div.search_result.needsvote div.flag,
table.cards tr.edit td.status,
table.release_list_table tr.edit td.status {
  background: #CFCDC9 !important;
}

.tooltip .tooltip-inner {
  background: #454545 !important;
}
.tooltip.top .tooltip-arrow {
  border-color: #454545 transparent transparent transparent !important;
}
.tooltip.left .tooltip-arrow {
  border-color: transparent transparent transparent #454545 !important;
}
.tooltip.right .tooltip-arrow {
  border-color: transparent #454545 transparent transparent !important;
}
.tooltip.bottom .tooltip-arrow {
  border-color: transparent transparent #454545 transparent !important;
}

/* ghost arrow */

/* .ui-dialog-arrow-left-top:after,
.ui-dialog-arrow-left-bottom:after,
.ui-dialog-arrow-right-top:after,
.ui-dialog-arrow-right-bottom:after {
  border-right-color: #323334 !important;
}

.ui-dialog-arrow-left-top:before,
.ui-dialog-arrow-left-bottom:before,
.ui-dialog-arrow-right-top:before,
.ui-dialog-arrow-right-bottom:before {
  border-right-color: white !important;
}

.ui-dialog-arrow-top-left:before,
.ui-dialog-arrow-top-right:before,
.ui-dialog-arrow-top-left:after,
.ui-dialog-arrow-top-right:after {
  border-top-color: #2F2F2F !important;
  border-right-color: #2F2F2F !important;
  border-bottom-color: #323334 !important;
} */

.ui-dialog-arrow-top-left:after,
.ui-dialog-arrow-top-right:after,
.ui-dialog-arrow-left-bottom:after,
.ui-dialog-arrow-left-top:after,
.ui-dialog-arrow-right-bottom:after,
.ui-dialog-arrow-right-top:after {
  display: none;
}

/* all gray border */

input,
.inset_box,
.form_block,
.outset_box,
.release_stats_group_list,
#object_preview,
ul.module_blocks > li,
.tab_menu,
.cart_page .order_container,
.cart_page .order_help,
table.release_list_table,
.release_list_actions,
#releaselist_collection_stats_ranges,
.releaselist_stats_range_wrap,
.video_li,
table.subform_table,
.item_actions,
.history_browser_facet_found,
.list-group-item,
.panel-default,
.offers_box,
.search_group {
  border: 1px solid #454545 !important;
}

ul.module_blocks > li {
  background: #323334 !important;
}

#listadd.form_block {
  border: none !important;
}

ul.module_blocks > li.table_body table thead tr {
  border-bottom: 2px solid #454545 !important;
}

.panel-success,
.panel-info,
.panel-danger,
.panel-warning {
  border-color: #454545 !important;
}

.group-list-group-content {
  background: rgba(0, 0, 0, 0.6) !important;
  border-right: 7px solid #323334 !important;
  border-bottom: 7px solid #323334 !important;
}

a.list-group-item.heading,
a.list-group-item.heading:visited {
  background-color: #2F2F2F !important;
  color: white !important;
}

code {
  background-color: #000000 !important;
  font-size: 90% !important;
  color: #CCCCCC !important;
}

pre {
  background: #000000 !important;
  border: 1px solid #454545 !important;
}

pre code {
  background: #000000 !important;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718C00 !important;
}

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #F5871F !important;
}

.hljs-comment, .hljs-title {
  color: #8E908C !important;
}

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby
.hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #C82829 !important;
}

.hljs-keyword,
.javascript .hljs-function {
  color: #8959A8 !important;
}

.alert-message.alert-message-info,
.alert-message.alert-message-info i,
.alert-message .icon.icon-times {
  background: #C5DEF7 !important;
  color: #454545 !important;
  line-height: 20px !important;
}

.alert-message.alert-message-info a:hover {
  color: #A590D0 !important;
}

.alert-message-announcement.alert-message .icon.icon-times {
  background: none !important;
  color: #ccc !important;
}

/* buttons with icons in added to collection banner */
.alert-message.alert-message-info .button.button-small.needs_delegated_tooltip i.icon,
.alert-message.alert-message-info .button.button-green i.icon {
  background: none !important;
}

.alert-message.alert-message-error,
.alert-message.alert-message-error i {
  background: #F7CDC5 !important;
  font-size: 14px !important;
  color: #812512 !important;
  line-height: 20px !important;
}

.alert-message.alert-message-accept,
.alert-message.alert-message-accept i,
.alert-message.alert-message-accept span {
  background: #D1F7C5 !important;
  color: #60C43F !important;
}

.alert-message.alert-message-broadcast {
  background-color: #2F2F2F !important;
}

.alert-message.alert-message-news .announcement-title,
.alert-message a.alert-message-close-icon i,
.alert-message a.alert-message-close-icon i:visited {
  color: #CCCCCC !important;
}

.alert-message.alert-message-warning,
.alert-message.alert-message-warning i,
.alert-message.alert-message-warning,
span.alert-message-text p,
span.alert-message-text ul li label,
span.alert-message-content h3,
span.alert-message-content h4,
span.alert-message-content ul li a strong,
span.alert-message-content ul li a small {
  background: #F7EAC5 !important;
  color: #816612 !important;
}


span.alert-message-text,
span.alert-message-text small,
span.alert-message-text strong,
span.alert-message-text strong a,
span.alert-message-text strong a:hover,
span.alert-message-text em,
span.alert-message-text em a,
span.alert-message-text em a:hover,
span.alert-message-text ul li {
  color: #454545 !important;
}

/* front page announcements */
#page_aside span.alert-message-text,
#page_aside span.alert-message-text strong,
.alert-message-broadcast span.alert-message-text,
.alert-message-broadcast span.alert-message-text strong {
  color: #CCCCCC !important;
}

.tab_menu {
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid #454545 !important;
  border-left: none !important;
}

.tab_menu li.current {
  background: #323334 !important;
  border-top: 1px solid #454545 !important;
  border-right: 1px solid #454545 !important;
  border-left: 1px solid #454545 !important;
  font-weight: bold;
}

.tab_menu li {
  border-top: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
}

.tab_menu li.current a,
.tab_menu li.current a:visited span {
  color: white !important;
}

.section-box {
  border-top: 1px solid #454545 !important;
  border-right: 1px solid #454545 !important;
}

.doc_resource {
  border-top: 1px solid #454545 !important;
  border-right: 1px solid #454545 !important;
  border-left: 1px solid #454545 !important;
}

.section-box:nth-child(1),
.section-box:nth-child(2),
.section-box:nth-child(3) {
  border-top: 0 !important;
}

/* background bar graph on release stats sidebar */
.facet-bar {
  background-color: #454545 !important;
}

.want_indicator {
  background-color: #F0D0D0 !important;
}

.want_indicator.high_want {
  background-color: #E24242 !important;
}

.have_indicator {
  background-color: #B0D0B0 !important;
}

.have_indicator.high_have {
  background-color: #12CF12 !important;
}

.community_number {
  color: #323334 !important;
  text-shadow: none !important;
}

#review_compose.form_block {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
}

/* Yellow */
.rating_range .icon-star, .star_rating i {
  color: #F7D06C !important;
}

/* react modals */

.react-modal-overlay,
.ui-widget-overlay,
#image_gallery_modal,
.full-width-header-cover {
  background-color: rgba(0,0,0,0.75) !important;
}

div.react-modal,
.ui-dialog,
.step_description,
.orders-user-tooltip,
.action_menu,
.releasePreview.push_down,
.user-details-tooltip,
ul.dropdown-button-options {
  background-color: #323334 !important;
  border: 2px solid #ccc !important;
}

.is_not_mobile .action_menu li.menu-item:hover,
.is_not_mobile .dropdown-button .dropdown-button-options li.menu-item:hover,
.dropdown-button .is_not_mobile .dropdown-button-options li.menu-item:hover {
  background-color: #2F2F2F !important;
}

/* price history */

textarea#g-recaptcha-response.g-recaptcha-response {
  display: none !important;
}

.ct-grid {
  stroke: #454545 !important;
  stroke-width: 1px !important;
  stroke-dasharray: 2px !important;
}

.chart-tooltip,
.chart-tooltip span.tooltip-label,
.chart-tooltip span.tooltip-name {
  background: #F4C63D !important;
  color: #454545 !important;
}

/* add release page */

.react_drag_drop_field_list .drag_drop_content,
.editable_item {
  /*    background: #2f2f2f !important;*/
  border-top: 1px solid #454545 !important;
  border-bottom: 1px solid #454545 !important;
}

.react_drag_drop_field_list .drag_drop_content:hover,
.editable_item:hover {
  background: #292929 !important;
}

.ref_guidelines_list > li.ref_guidelines_highlight,
.ref_guidelines_list > li.ref_guidelines_highlight:hover {
  background: #454545 !important;
}

table.subform_table tr.subnotes,
table.subform_table tr.collection {
  background: #1F1F1F !important;
}

/* always gray ccc icons */

.ref_guidelines_list .ref_guidelines_heading a,
.ref_guidelines_list .ref_guidelines_heading a:hover,
.ref_guidelines_list .ref_guidelines_heading a:visited,
.ref_guidelines_list .ref_guidelines_heading a i,
.ref_guidelines_list .ref_guidelines_heading a:hover i,
.ref_guidelines_list .ref_guidelines_heading a:visited i,
.ref_guidelines_list .ref_guidelines_heading i,
.ref_guidelines_list .ref_guidelines_heading i:hover,
.ref_guidelines_list .ref_guidelines_heading i:visited,
div.format.collapsible a.collapse i,
div.format.collapsible a.collapse i:hover,
.subform_track_actions a i,
.subform_track_actions a i:hover,
.subform_track_actions a i:visited,
span#layout_buttons a.inset_button i,
span#layout_buttons a.inset_button i:visited {
  color: #CCCCCC !important;
}

#ref_arrow {
  border-right-color: #666666 !important;
}

#ref_arrow div {
  border-right-color: #323334 !important;
}

.reference_on #subform {
  box-shadow: inset -10px -5px 6px -10px #000000 !important;
}

.ref_mode_toggle {
  color: #4DD2FF !important;
}

/* history form */

.history_form {
  border-top: 2px solid #454545 !important;
  border-bottom: 2px solid #454545 !important;
}

.history_form .actions {
  border-left: 2px solid #454545 !important;
}

.history table tr.datarow:hover {
  background: #322B36 !important;
}

/* Release history edit tag bg color */
.history .hili {
  background: #ccc !important;
  color: #322B36 !important;
}

.history table tr.datarow.highlight {
  background: #4A3F50 !important;
}

.vote_info_helper {
  background-color: #FFF2CC !important;
  color: #2F2F2F !important;
}

.hl_added {
  background-color: #AAFFAA !important;
  color: #2F2F2F !important;
}

.hl_removed {
  background-color: #FFAAAA !important;
  color: #2F2F2F !important;
}

.hl_changed1 {
  background-color: #FFFF77 !important;
  color: #2F2F2F !important;
}

.hl_changed2 {
  background-color: #DDDD77 !important;
  color: #2F2F2F !important;
}

.hl_warning {
  background-color: #99FFFF !important;
  color: #2F2F2F !important;
}

#namecheckmsg {
  color: #000000 !important;
}

/* options modal */

ul.options {
  list-style-type: none;
}

ul.options li label {
  margin-left: 10px;
}

.options-modal {
  display: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4) !important;
}

.options-modal-content {
  width: 25%;
  margin: 15% auto;
  padding: 20px;
  background-color: #343434 !important;
  border: 1px solid #888888;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.options-close {
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #AAAAAA;
}

.options-close:hover,
.options-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.options-modal #threshold {
  width: 40px;
}

label#thresholdLabel {
  margin-right: 10px;
  margin-left: 0;
}

.options-save {
  margin: auto;
}

.currency-converter, .currency-converter .toggle {
  background-color: #333333 !important;
  background-color: #333333 !important;
  border-bottom: 1px solid #333333 !important;
  color: white !important;
}

/* discogs hides their pencil icons when not editing so this will show any italiced notes */
.notes_field .notes_text i {
  display: block !important;
}

#de-next {
  background: #292929 !important;
}

/* new feedback dialog box */
.send-feedback-button {
  border: solid 1px #525252 !important;
  border-right: 0 !important;
}

.send-feedback-button-negative {
  border-right: 1px solid #525252 !important;
}

.send-feedback-buttons .send-feedback-button-positive i.icon.icon-thumbs-o-up,
.send-feedback-buttons .send-feedback-button-positive span {
  color: #60C43F !important;
}

.send-feedback-buttons .send-feedback-button-negative i.icon.icon-thumbs-o-down,
.send-feedback-buttons .send-feedback-button-negative span {
  color: #BF3A38 !important;
}

#subform_preview {
  border: 5px solid #292929 !important;
}

#subform_preview header {
  background-color: #292929 !important;
}

.subform_submission_notes {
  border-top: 1px solid #454545 !important;
  border-bottom: 1px solid #454545 !important;
}

.subform_errors {
  background: #360D0D !important;
}

/* Edit Master Release Page */
.master_edit table.subform_table thead tr {
  background: #1F1F1F !important;
}

.master_edit table.subform_table,
.master_edit table.subform_table tr,
.master_edit table.subform_table td {
  border: none !important;
}

.master_edit table.subform_table tr.subnotes {
  background: none !important;
}

/* Alert that may be shown when editing a release */
/* https://www.discogs.com/release/6265588-The-Rise-And-Fall-Of-Paramount-Records-1928-1932-Volume-2/history#latest */
.data span.alert-message-text {
  color: #CCCCCC !important;
}

/* Login Screen */
#content {
  background: #454545 !important;
}

a.button.red {
  background: #BF3A38 !important;
  border-color: #982E2C !important;
}

a.button.red span,
i.icon-facebook,
i.icon-google-plus {
  color: white !important;
}

/* Data Quality chart on artist pages*/

.data_quality_list .data_quality_meter {
  background: #454545 !important;
}

.data_quality.correct {
  background: #8AB87A !important;
}

.data_quality.nmajc {
  background: #B8857A !important;
}

.data_quality.nminc {
  background: #B8A87A !important;
}

.data_quality.new {
  background: #B8A87A !important;
}

.data_quality.edit {
  background: #7A99B8 !important;
}

/* Offers page: user address popup */
.user-details-tooltip.ui-dialog-arrow.ui-dialog-arrow-bottom-right::after {
  border: #434343 !important;
}

/* Offers page: accepted offer notification */
.page-loading-bar.page-loading-bar-has-message {
  background: #439ADC !important;
}

.page-loading-bar.page-loading-bar-has-message .loading-message span,
.page-loading-bar.page-loading-bar-has-message .loading-message span a {
  color: white !important;
}

/* Edit Release page */
.format .format_current_desc_list span,
.facet-tag,
.facet-tag span,
.facet-tag i {
  color: white !important;
  background: #326FB2 !important;
}

/* Beta Tracks UI */

.tracks-beta-banner,
.collection-beta-banner {
  background: #2b5c87 !important;
}

.collection-beta-banner .open-survey-modal,
.tracks-beta-banner .open-survey-modal {
  background: #3b7eb9 !important;
  color: #ccc !important;
}

.collection-beta-banner .open-survey-modal i,
.tracks-beta-banner .open-survey-modal i,
.FacetGroup .facet_count,
.FacetGroup a:hover .facet_count {
  color: #ccc !important;
}

#discography_header,
.TracksTable header,
.TracksTable .row,
.CompositionApp h3,
.CompositionApp .TrackOverview .TrackTitle {
  border-bottom: 1px solid #454545 !important;
}

.viewing-tracks .TracksApp .CompositionDetails {
  background: #292929 !important;
}

.viewing-tracks .TracksApp .CompositionDetails .Releases {
  background: #323334 !important;
}

.TracksTable .row.expanded:after,
.TracksTable .row.expanded:before {
  background:  #454545 !important;
}

.CommunityStats .label,
.track-title .CountLabel,
.CompositionDetails footer {
  color: #858585 !important;
}

/* Dashboard friend comments */

table.table_block tbody tr.even.has-comments,
table.table_block tbody tr.odd.has-comments {
  background-color: #2a3a48 !important;
}

/* Pay billing page */

.form-block legend.first {
  background: #2F2F2F !important;
  border-bottom: 1px solid #454545 !important;
}

/* Advanced Search */

#advanced_search_form.form-block {
  border: 1px solid #454545 !important;
}

/* Disabled inputs */
input[type="text"][disabled],
input[type="password"][disabled],
textarea[disabled],
.fake-input[disabled] {
  background: #2F2F2F !important;
}

/* Edit Release: free text field and credits inputs */
#subform>table:nth-child(2)>tbody>tr.formats>td>div>ul>li>div>div>div.format_descriptions.arrow_nav_container>div>div:nth-child(4)>div:nth-child(2)>ul>li>input,
.subform_react table.subform_table input {
  border: 1px solid #454545 !important;
}

/* Edit Release: credits boxes */
.lookup-field.credit-lookup.fake-input {
  box-shadow: none !important;
}

/* Edit Release: BAOI fields */
#subform>table:nth-child(2)>tbody>tr:nth-child(4)>td>div>ul>li>div>fieldset>input[type="text"] {
  border: 1px solid #454545 !important;
}

/* Fix weird margin on border with the dark theme */
.is_not_mobile #collection .pagination.top {
  margin-left: auto !important;
}

/* Staff label in forums */
.text_label_staff,
.text_label_staff:visited {
  background-color: #326FB2 !important;
  color: #CCC !important;
}

/* Background color of the default icon SVGs */
.default-image-as-icon {
  background-color: #292929 !important;
}

/* Sound preview buttons */
a.sound_preview strong {
  color: #454545 !important;
}

/* Index track background color */
.section.tracklist table tr.tracklist_track.index_track {
  background: #292929 !important;
}

/* API Gear icon in forums */
.forum-landing-topic-list.section-boxes .icon.icon-cogs {
  color: #CCC !important;
}

/* forum sections */
.forum-landing-topic-list.section-boxes li:hover {
  background: #2f2f2f !important;
}

.forum-landing-topic-list.section-boxes li {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #454545 !important;
}

.forum-landing-topic-list.section-boxes li:last-child {
  border-bottom: none !important;
}

.forum-landing-topic-list.section-boxes .forum-landing-topic-meta li {
  border: none !important;
}

/* border between star rating and share link on release page */
.section.social .rating_wrapper {
  border-right: 1px solid #454545 !important;
}

/* Collection page */
.FacetGroup.active .selected span,
.FacetGroup.active .selected i {
  color: #FFF !important;
}

table.release-table thead tr {
  border: 1px solid #454545 !important;
}

table.release-table thead tr th a span {
  color: #809BBE !important;
}

.release-cards tr.release-table-card {
  border-bottom: 2px solid #454545 !important;
}

.collection-header .tab_menu {
  border: none !important;
}

.collection-header .tab_menu li.current {
  background: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.collection-header .tab_menu .current {
  border-bottom: 2px solid #ccc !important;
}

.collection-header .tab_menu .current.menu-item span,
.collection-header .tab_menu .current .icon {
  color: #fff !important;
}

.collection-header .tab_menu .menu-item span {
  color: #809BBE !important;
}

