/* Link Colors */

/* Links */
a,
a i {
  color: #809BBE !important;
}

a {
  outline: none !important;
}

button:focus {
  outline: 0 !important;
}

/* Visited Links */

a:visited {
  color: #A590D0 !important; /* OG: #7d65ae*/
}

/* Link Hovers */

a:hover:not(.button) {
  color: #CAE0FA !important;
}

body {
  color: #CCCCCC;
}

/* Constant color (no visited tracking) */

/* gray #CCC */
#site_navigation a,
#site_navigation a i,
#activity_menu a i,
#site_nav_submenu_account a,
.dashboard_addmodules .label,
.icon.icon-times,
#review-word-count {
  color: #CCCCCC !important;
}

i.icon,
#review_compose.form_block label,
#review_compose.form_block .review_head .instructions,
.mplabel {
  color: #CCCCCC;
}

/* #809BBE */
.tab_menu li a {
  color: #809BBE !important;
}

/* #323334 site background background */
html,
#main_wrapper,
ul.module_blocks > li,
.box_header_row,
.form_block legend,
ul.module_blocks .header,
ul.module_blocks > li.table_body table thead tr,
.broadcast_table .odd .gutter,
.history tr.odd,
.history tr:nth-child(odd) {
  background: #323334;
}

#site_header_wrap {
  background: #000000;
}

.tab_menu,
.pagination.top {
  border-bottom: 1px solid #454545;
}

.section.social .rating_wrapper {
  border-right: 1px solid #454545;
}

.tab_menu li.current,
.box_header_row {
  background: #323334;
  border: 1px solid #454545;
}

.tab_menu li.current a {
  border-bottom: 2px solid #323334;
  color: #CCCCCC !important;
}

table.table_block tbody tr.even,
.broadcast_table .even .gutter,
.history tr.even,
.history tr:nth-child(even) {
  background: #2F2F2F;
}

#youtube_tracklist {
  background: #323334;
  border-bottom: 1px solid #454545;
  outline: none;
}

.youtube_track {
  color: #809BBE !important;
}

table.table_block thead tr,
table.table_block tfoot tr,
thead tr th,
div.section h3,
table.cards tr,
.review {
  border-bottom: 1px solid #454545;
}

ul.module_blocks .footer,
#site_footer_wrap,
.section.tracklist table tr,
.section.social .section_content,
.pagination.bottom,
.history table tr {
  border-top: 1px solid #454545;
}

/* table .header */
li.dashboard_module .header,
table.mpitems th {
  background: #454545;
}

#page_content .loading,
#page_aside .loading,
hr {
  background: #454545 !important;
}

/* gray borders */

.form_block legend,
ul.module_blocks .header,
.inset_box,
.form_block,
.outset_box,
.release_stats_group_list,
#object_preview,
ul.module_blocks > li,
#review_compose.form_block div.review_preview {
  border: 1px solid #454545;
}

ul.module_blocks > li.module_placeholder,
.module_blocks .dashboard_addmodules {
  border: 5px dashed #454545;
}

#review_compose.form_block textarea,
textarea {
  background: #292929;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}

.rating_range .icon-star,
.star_rating i {
  color: #F7D06C !important;
}

/* in collection */
.cw_block.cw_block_collection {
  background-color: #142E09 !important;
  border: 1px solid #60C43F !important;
}

.cw_block.cw_block_collection div {
  margin-bottom: 0.2rem;
}

.cw_block.cw_block_collection h2 {
  border-color: #60C43F !important;
}

.cw_block.cw_block_wantlist {
  background-color: #360D0D !important;
  border: 1px solid #E7413F !important;
}

.cw_block.cw_block_wantlist h2 {
  border-color: #E7413F !important;
}

.cw_block h2 {
  border-bottom: 1px solid #454545 !important;
  color: white !important;
}

.cw_block .notes_field_label,
.notes_add,
table.mpitems th,
.notes_text {
  color: white !important;
}

.is_not_mobile .notes_field:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* search input */
.aside_search_form,
.cw_block .notes_textarea {
  background: #404040 !important;
  color: white !important;
}

.notes_textarea {
  min-height: 100px !important;
}

.collections_buttons a.button,
a.button i,
.inv_add_button,
.button {
  color: black !important;
}

.button.button_blue,
.button.button_green {
  color: white !important;
}

.button[disabled] {
  color: #999999 !important;
}

/* history form */

.history_form {
  background-color: #454545;
  border-top: 2px solid #454545 !important;
  border-bottom: 2px solid #454545 !important;
}

.history_form .actions {
  border-left: 2px solid #454545 !important;
}

.history table tr.datarow:hover {
  background: #322B36 !important;
}

.history table tr.datarow.highlight {
  background: #4A3F50 !important;
}

.vote_info_helper {
  background-color: #FFF2CC !important;
  color: #2F2F2F !important;
}

.hl_added {
  background-color: #AAFFAA !important;
  color: #2F2F2F !important;
}

.hl_removed {
  background-color: #FFAAAA !important;
  color: #2F2F2F !important;
}

.hl_changed1 {
  background-color: #FFFF77 !important;
  color: #2F2F2F !important;
}

.hl_changed2 {
  background-color: #DDDD77 !important;
  color: #2F2F2F !important;
}

.hl_warning {
  background-color: #99FFFF !important;
  color: #2F2F2F !important;
}

#namecheckmsg,
.hili {
  color: #000000 !important;
}

/* 1px dotted */
table.mpitems tr {
  border-bottom: 1px dotted #454545;
}

a.toggledots.button.button_white {
  background-color: #454545;
  border: 1px solid #666666;
}
.icon.icon-ellipsis-h {
  color: #CCCCCC !important;
}

/* Everlasting marketplace */
#de-next {
  background: #292929 !important;
  border: 1px solid #454545;
}
