.de-page-num {
  margin-right: 30px;
  font-weight: bold;
}

.de-page-info {
  position: absolute;
  top: 5px;
  left: 10px;
  color: lightgray !important;
}

.de-select-wrap {
  /* position: absolute;
  top: 4px;
  right: 10px; */
  vertical-align: middle;
  text-align: center;
}

#de-next {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

#de-next i {
  width: 25px;
  margin: 12px auto;
  font-size: 25px;
}

.de-next-text {
  width: 100%;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

.de-next-text p {
  margin: 0 auto;
}

.de-current-page {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

h4.de-current-page {
  margin: 1rem 1rem;
  width: 60px;
}

.de-current-page,
.de-no-results {
  font-weight: bold;
}

.de-pause {
  margin-left: 10px;
  cursor: pointer;
}

.de-pause .icon,
.de-resume .icon {
  font-size: 12px;
  pointer-events: none;
}

.de-page-stamp {
  background: #fff;
  filter: drop-shadow(0px 1px #dfdfdf);
  padding: 0 !important;
  position: sticky;
  top: -1px;
  z-index: 79;
  vertical-align: middle;
}

.de-filter-stamp {
  vertical-align: middle;
  /* font-weight: bold; */
  /* padding-right: 4rem !important; */
}

.de-marketplace-results,
.de-page-number {
  text-align: center;
}

.de-marketplace-results .de-resume {
  cursor: pointer;
}

.z-1{
  z-index: 1;
}

@keyframes slidein {
  from {
    top: -35px;
  }
  to {
    top: 0;
  }
}

@keyframes slideOut {
  from {
    top: 0;
  }
  to {
    top: -35px;
  }
}
