.de-page-bar {
  display: block;
  height: 25px;
  width: 100%;
  padding-top: 5px;
  position: fixed;
  z-index: 1000;
  top: -35px;
  left: 0;
  background: #000000 !important;
  color: lightGray !important;
  text-align: center;
}

.de-page-bar a {
  color: #809BBE !important;
}

.de-page-num {
  margin-right: 30px;
  font-weight: bold;
}

.de-page-info {
  position: absolute;
  top: 5px;
  left: 10px;
  color: lightgray !important;
}

.de-select-wrap {
  position: absolute;
  top: 4px;
  right: 10px;
}

#de-next {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

#de-next i {
  width: 25px;
  margin: 12px auto;
  font-size: 25px;
}

.de-next-text {
  width: 100%;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

.de-next-text p {
  margin: 0 auto;
}

.de-current-page {
  margin-top: 10px;
}

.de-current-page,
.de-no-results {
  font-weight: bold;
}

.de-pause {
  margin-left: 10px;
  cursor: pointer;
}

.de-pause .icon {
  font-size: 12px;
}
