.de-favorite-seller {
  background: url('data:image/svg+xml;utf8,<svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M14.591 6.637l-1-1.229a1.507 1.507 0 0 1-.295-.703l-.182-1.57a1.4 1.4 0 0 0-1.228-1.226l-1.568-.182a1.38 1.38 0 0 1-.727-.295l-1.228-1a1.369 1.369 0 0 0-1.726 0l-1.229 1c-.203.159-.43.25-.703.295l-1.57.182A1.4 1.4 0 0 0 1.91 3.137l-.182 1.567a1.375 1.375 0 0 1-.295.728l-1 1.227a1.369 1.369 0 0 0 0 1.727l1 1.228c.159.204.25.431.295.704l.182 1.569a1.4 1.4 0 0 0 1.228 1.227l1.567.182c.273.022.524.136.728.295l1.227 1a1.369 1.369 0 0 0 1.727 0l1.228-1c.204-.16.431-.25.704-.295l1.569-.182a1.4 1.4 0 0 0 1.227-1.228l.182-1.568c.022-.272.136-.523.295-.727l1-1.228a1.432 1.432 0 0 0 0-1.726z" fill="#00B4DB"/><path fill="#FFF" d="M6.113 11.205L2.887 7.977l1.386-1.386 1.84 1.84 4.613-4.613 1.387 1.432z"/></g></svg>');
  display: inline-block;
  height: 15px;
  position: absolute;
  width: 15px;
  margin-left: 3px;
  margin-top: 3px;
}
