#de-seller-feedback .skittle,
#de-buyer-feedback .skittle {
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 500px;
  font-size: 12px;
}

#de-seller-feedback .count,
#de-buyer-feedback .count {
  display: inline-block;
  margin-top: 4px;
  background: none !important;
  color: white !important;
}

#de-seller-feedback:hover .feedback-chart.seller {
  display: block;
}

#de-buyer-feedback:hover .feedback-chart.buyer {
  display: block;
}

.de-seller-feedback .skittle.skittle_collection span.count:after {
  content: "S";
}

.de-seller-feedback:hover .skittle.skittle_collection,
.de-seller-feedback:hover .skittle.skittle_collection span.count {
  background: #CCCCCC !important;
}

.de-buyer-feedback .skittle.skittle_collection,
.de-buyer-feedback .skittle.skittle_collection span.count {
  background: #FF6A23 !important;
}

.de-buyer-feedback .skittle.skittle_collection span.count:after {
  content: "B";
}

.de-buyer-feedback:hover .skittle.skittle_collection,
.de-buyer-feedback:hover .skittle.skittle_collection span.count {
  background: #CCCCCC !important;
}

.de-seller-feedback:hover .skittle.skittle_collection span.count:after,
.de-buyer-feedback:hover .skittle.skittle_collection span.count:after {
  content: "X";
}


ul.feedback-chart {
  display: none;
  width: 110px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -37px;
  background-color: black !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
  border-left: 1px solid black !important;
}

ul.feedback-chart li {
  list-style-type: none;
  padding-left: 10px;
  border-bottom: 1px solid #333333 !important;
}

ul.feedback-chart li:hover {
  background-color: #333333 !important;
  cursor: pointer;
}

ul li.last {
  border-bottom: none !important;
}

ul.feedback-chart h2 {
  display: inline-block;
  width: 30px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  color: white !important;
  text-align: right;

  vertical-align: middle;
}

ul.feedback-chart h3 {
  display: inline-block;
  width: 60px;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}

#de-seller-feedback .skittle {
  background: #69C34B !important;
}

#de-buyer-feedback .skittle {
  background: #E04526 !important;
}


#de-seller-feedback:hover .skittle,
#de-buyer-feedback:hover .skittle {
  background: #CCCCCC !important;
}

ul.feedback-chart .pos {
  color: #69C34B !important;
}

ul.feedback-chart .neu {
  color: #CCCCCC !important;
}

ul.feedback-chart .neg {
  color: #E04526 !important;
}
