#youtube_tracklist {
  max-height: 350px !important;
}
/* New Release Page */
#release-videos ul[class*="videos_"] {
  max-height: 300px !important;
}

#release-videos ul[class*="videos_"] [class*="media_"] {
  top: 24px !important;
  left: 32px !important;
}

ul[class*="videos_"] button img {
  width: 60px;
  aspect-ratio: auto 60 / 45;
  height: 45px;
}
