.bold {
  font-weight: bold !important;
}

.mint {
    color: #00b4db !important;
}

.near-mint {
  color: #00dbb4 !important;
}

.very-good-plus {
  color: #00db1f !important; 
}

.very-good {
  color: #85ab11 !important;
}

.good-plus {
  color: #f6bf48 !important;
}

.good {
  color: #d87307 !important;
}

.fair {
  color: #e54803 !important;
}

.poor {
  color: #ff0000 !important;
}
