.bold {
  font-weight: bold !important;
}

.mint {
    color: #00afdb !important;
}

.near-mint {
  color: #47b902 !important;
}

.very-good-plus {
  color: #86ac11 !important;
}

.very-good {
  color: #b5b436 !important;
}

.good-plus {
  color: #f6bf48 !important;
}

.good {
  color: #d87307 !important;
}

.fair {
  color: #e54803 !important;
}

.poor {
  color: #ff0000 !important;
}
