#app {
  // header nav line height for hover states
  div[class*="header_"] {
    div[class*="content_"] {
      line-height: 12px !important;
    }
  }

  div[class*="profile_"] {

    // even out the spacing at the bottom of the profile menu
    nav[class*="dropdown_"] {
      padding-bottom: .3rem !important;
    }

    a[class*="headericon_"] {
      font-size: 13px !important;
      margin-right: 0 !important;
      padding-right: .75rem !important;

      svg {
        vertical-align: middle !important;
        padding-bottom: 4px !important;
      }
    }
  }

  // Credits
  #Credits {
    span[class*="fallback_"] {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #454545 !important;
    }
  }

  #release-header {
    h1 {
      margin-bottom: .5rem !important;
    }
  }

  #release-stats {
    div[class*="items_"] h4 {
      width: auto !important;
    }
    div[class*="content_"] ul {
      display: block !important;
    }
  }

  // in Collection box
  div[class*="collection_"] {
    font-size: 14px !important;
    margin: 10px 5px;

    label {
      font-weight: 400 !important;
      font-size: 13px !important;
    }
    // notes
    div[class*="value_"] {
      white-space: pre-line !important;
      word-break: break-word !important;
    }

    // notes editing textarea
    div[class*="textedit_"] {
      width: 218px !important;
      margin: 0 !important;
      textarea {
        overflow: auto !important;
        word-break: break-word !important;
      }
    }
  }

  // In Wantlist box
  div[class*="wantlist_"] {
    margin-top: 10px !important;
  }

  // Remove unnecessary right margin on svg icons
  button[class*="button_"] svg[class*="icon_"] {
    margin-right: 0 !important;
  }
  // make an exception for the share button icon
  div[class*="ratings_"] + div[class*="wrapper_"] button svg {
    margin-right: 2px !important;
  }

  // Star ratings
  div[class*="ratings_"] svg {
    margin: 0 2px 0 0 !important;
  }

  div[class*="ratings_"] {
    button[class*="remove_"] {
      height: auto !important;
      margin-top: -2px !important;
      margin-left: .3em !important;
      svg {
        height: 1.2em !important;
        top: 0 !important;
      }
    }
  }

  // Tracklist
  #release-tracklist {
    tbody > tr:first-child {
      border-top: none !important;
    }

    div[class*="buttons_"] {
      button[class*="button_"] svg[class*="icon_"] {
        margin-right: .5rem !important;
      }
    }
  }

  // image zoom buttons
  div[class*="overlay_"] {
    a[class*="grey_"] svg path,
    button[class*="grey_"] svg path {
      color: #333333 !important;
    }

    button[class*="grey_"]:disabled svg path {
      color: #999999 !important;
    }
  }

  // reviews
  #release-reviews {
    div[class*="review_"] {

      div[class*="header_"] {
        // margin-bottom: .2rem !important;
      }

      div[class*="content_"]:first-of-type {
        margin-left: .4rem !important;
      }

      div[class*="content_"] {
        p {
          margin: 0.25rem 0;
          padding: 0;
        }
        div[class*="content_"] {
          margin: .3rem 0 !important;
        }
      }

      div[class*="edited_"] {
        margin-top: .1rem !important;
        margin-bottom: .2rem !important;
        font-size: 12px !important;
        text-transform: lowercase;
      }

      span[class*="content_"] {
        display: block !important;
        margin-top: 0 !important;
        margin-bottom: .3rem !important;
        line-height: 1.3rem !important;
        max-width: 645px !important;
      }

      button[class*="grey_"] {
        font-size: small !important;
      }

      div[class*="dropdown_"] button[class*="grey_"] {
        svg[class*="icon_"] {
          margin-right: 5px !important;
        }
      }

      // review text block
      div[class*="markup_"] {
        margin-top: .25rem;
      }

      // reply / helpful buttons
      div[class*="markup_"] + div {
        margin-top: .5rem;

        button {
          margin-right: 1rem;
        }
      }

      // Star ratings on release and reviews
      span[class*="rating_"] {
        margin-top: .2rem !important;
          svg {
          margin: 0 2px 0 0 !important;
        }
      }
    }
  }

  div[class*="preview_"] div[class*="content_"] {
    min-height: 10px !important;
    padding: 5px !important;
  }

  #site_footer_wrap > div[class*="content_"] {
    ul li {
      padding-top: .5rem !important;
    }
  }
}
