body {
  width: 350px;
  height: 275px;
  background-color: #313335;
}

h1,
h2,
h3 {
  font-family: 'Halant', serif;
  font-size: 14px;
  color: white;
  text-shadow: 1px 2px 3px #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: -20px;
  margin-right: 5px;
  display: inline-block;
}

h2._300 {
  font-weight: 300;
  margin-bottom: 10px;
}

h2._500 {
  font-weight: 500;
}

h2._600 {
  font-weight: 600;
  margin-top: 0;
  padding-top: 15px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ccc;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease;
  word-spacing: 2px;
}

a.button_orange {
  background-color: #f98717;
  border-color: #eea236;
  background-image: linear-gradient(#f98717,#f96c17);
  background-size: 100%;
  border-bottom-color: #f96c17 !important;
  border-radius: 3px;
  border-style: solid;
  border-top-color: #f98717 !important;
  border-width: 1px;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 2em;
  line-height: 2em;
  margin: 0 25% 25px 33%;
  outline: none;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  vertical-align: middle;
  width: 25%;
}

a.button_green {
  background-color: #60C43F !important;
  background-image: linear-gradient(#60c43f,#59ba39);
  background-size: 100%;
  border-bottom-color: #49972e !important;
  border-color: #4ea332 !important;
  border-radius: 3px;
  border-style: solid;
  border-top-color: #52ab34 !important;
  border-width: 1px;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 2em;
  line-height: 2em;
  margin: 0 25% 25px 33%;
  outline: none;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  vertical-align: middle;
  width: 25%;
}

a.button_green:hover {
  background-image: linear-gradient(#73cb56,#6ac84b);
}

a#editList {
  margin-top: 18px;
  margin-left: 10px;
  display: inline-block;
  color: gray;
  outline: none;
}

a#editList:hover {
  color: white;
}

.header {
  margin: 0px -20px 15px -20px;
  padding: 0px 10px 8px 25px;
  text-align: center;
  width: 350px;
  height: 30px;
/*  cursor: pointer;*/
}

.header .title img {
  width: 256px;
  margin: 0 auto;
  margin-top: 18px;
}

.toggle-group {
  width: 100%;
  height: 25px;
  clear: both;
  margin: 0 0 0 -10px;
  padding: 0 0 25px 18px;
  border-top: 1px solid #ccc;
  transition: all 0.3s ease;
}

.toggle-group:hover {
    background-color: #292929;
}

.toggle-group:hover p {
  color: white;
  margin-left: 20px;
}

.toggle-group.last {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.toggle-group.menus {
  height: 25px;
}

.label {
  float: left;
  margin-left: 8px;
  font-size: 14px;
  margin-top: 16px;
}

.onoffswitch {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

.notifications {
  clear: both;
  float: left;
  margin: 8px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #666;
  /* border-radius: 10px; */
  width: 100%;
  position: fixed;
  top: -11px;
  left: 0;
  z-index: 1;
}

.notifications img {
  width: 45px;
}

.notifications .icon {
  margin: 45px 10px 0 45px;
  float: left;
}

.notifications .warning-text {
  line-height: 18px;
}

#notify {
  color: #ccc;
  font-weight: 400;
  padding-right: 10px;
  /*margin-bottom: -10px;*/
  margin: 46px;
}

sup {
  color: #454545;
}

.credits,
.show-credits {
  color: #ccc;
  margin-bottom: 10px;
}

.credits a,
.credits a:hover,
.credits a:visited,
#showCredits,
#showCredits:visited,
#showCredits:hover {
  color: #809bbe;
  outline: none;
}

.hide {
  display: none;
}

input[type="checkbox"]:focus {
  outline:0;
}

.context-menus {
  clear:both;
  margin-top: 55px;
  overflow:hidden;
}

.checkbox-group {
  width: 335px;
  color: #ccc;
  float: right;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-group label {
  margin-right: 14px;
}

.box-wrap {
  width: 110px;
  float: left;
}

#currency {
  margin-top: 16px;
  margin-left: 15px;
  outline: none;
}

#currency.alert {
  outline: 1px dotted red;
}

.rate-button {
  width: 100%;
  height: 50px;
  clear: both;
  margin: 0 0 0 -8px;
  padding: 0 0 25px 18px;
  border-top: 1px solid #ccc;
  transition: all 0.3s ease;
}

#rate {
  width: 50%;
  margin: 23px 0 0 65px;
}

.hide-items {
  display: block;
  position: relative;
}

.hide-items select {
  outline: none;
  position: absolute;
  top: 55px;
  left: 100px;
}
