body {
  width: 300px;
  height: 275px;
  background-color: white;
}

h1,
h2,
h3 {
  color: white;
  font-family: 'Pragati Narrow', sans-serif;
    font-weight: normal;
}

h1 {
  margin-top: 0;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 5px;
}

.header {
  background-color: black;
  margin: -10px;
  padding: 10px 10px 8px 15px;
}

.toggle-group {
  background-color: #454545;
  border-radius: 3px;
  width: 312px;
  height: 50px;
  clear: both;
  margin: 13px 0 0 -6px;
}

.label {
  float: left;
  margin-left: 13px;
  font-size: 19px;
  margin-top: 9px;
}

.onoffswitch {
  float: right;
  margin-top: 13px;
  margin-right: 10px;
}

.notifications {
  clear: both;
  float: left;
  margin-bottom: 8px;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: yellow;
  border-radius: 10px;
  width: 100%;
}

.notifications img {
  width: 45px;
}

.notifications .icon {
  margin: 13px 10px 0 15px;
  float: left;
}

.notifications .warning-text {
  line-height: 18px;
  margin-top: 15px;
}

.desc {
  clear: both;
  display: block;
}

.desc p {
  color: #454545;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.show-credits-wrap {
  clear: both;
  margin-top: 10px;
}

sup {
  color: #454545;
}

.credits,
.show-credits {
  color: #454545;
  margin-bottom: 10px;
}

.credits a,
.credits a:hover,
.credits a:visited,
#showCredits,
#showCredits:visited,
#showCredits:hover {
  color: #809bbe;
  outline: none;
}

.hide {
  display: none;
}

#version {
  font-size: smaller;
}