/* Block Seller Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
p.header {
  display: block;
  margin-right: 5px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #CCCCCC;
  line-height: 19px;
  transition: all 0.3s ease;
}

em {
  font-weight: bold;
  color: white;
}

.seller {
  display: block;
  min-width: 10px;
}

.blocked-sellers {
  margin-top: 20px;
}

.blocked-sellers .seller {
  display: inline-block;
  position: relative;
}

.blocked-sellers .seller span {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}

.blocked-sellers .seller span:hover {
  display: inline-block;
  background-color: red;
  cursor: pointer;
  transform: scale(1.2);
}

.blocked-sellers .seller span a {
  display: none;
  margin-left: 5px;
  color: gray;
}

.seller-input .btn,
.restore .btn {
  margin-top: -7px;
  margin-left: 10px;
}

.seller-input input,
.restore-input {
  margin-top: 5px;
  font-size: 20px;
}

.logo {
  display: block;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.errors {
  font-weight: bold;
  color: red;
}

.hide {
  display: none;
}

.do-not-hide-sellers,
.hide-sellers,
.show-sellers-release {
  margin: 20px auto 40px auto;
  color: white;
}

#block-prefs,
.backup,
.restore {
  max-width: 500px;
}

.backup {
  margin: 40px 0;
}

.backup .header {
  cursor: pointer;
}

.backup .header.closed::before {
  content: "\25b2 \0020";
  color: #5CB85C;
}

.backup .header.open::before {
  content: "\25BC \0020";
  color: #5CB85C;
}

.backup-output,
.restore-error-output {
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
  font-family: monospace;
  word-wrap: break-word;
}

.restore {
  margin-top: 30px;
  margin-bottom: 150px;
}

.restore-errors {
  display: block;
  margin-top: 10px;
}

.restore-input {
  width: 350px;
  padding: 5px;
  font-size: 13px;
}

.restore-errors p {
  color: red;
}

.restore .btn {
  margin-top: 0;
}

.restore-errors-output {
  margin-top: 10px;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
  font-family: monospace;
  word-wrap: break-word;
}

.hide {
  display: none;
}
