.de-seller-rep-icon {
  background: url('data:image/svg+xml;utf8,<svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.218 13.863L9.128.574A1.1 1.1 0 0 0 8.146 0c-.41 0-.78.246-.988.615L.121 13.904c-.166.328-.168.78.036 1.107.204.329.532.493.943.493h14.125c.41 0 .78-.205.946-.534.207-.328.209-.738.046-1.107" transform="scale(.85714)" fill="url(#paint0_linear)"/><path d="M6.999 4.495a.534.534 0 0 0-.533.532v3.2a.531.531 0 0 0 .909.376c.1-.1.156-.235.157-.376v-3.2a.53.53 0 0 0-.533-.532zm0 5.33a.533.533 0 1 0-.001 1.065.533.533 0 0 0 .001-1.066z" fill="#000" fill-opacity=".75" stroke="#40330D" stroke-width=".902"/><defs><linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 -16.611 16.723 0 -8.907 15.834)"><stop stop-color="#FFC515"/><stop offset="1" stop-color="#FFD55B"/></linearGradient></defs></svg>');
  display: inline-block;
  height: 14px;
  position: absolute;
  width: 14px;
  margin-left: 3px;
  margin-top: 3px;
}
