.de-preloader,
.de-price-preloader,
.de-dark-theme .de-preloader,
.de-dark-theme .de-price-preloader {
  margin: 20px auto;
  position: relative;
  font-style: normal;
  display: block;
  width: 30px;
  height: 30px;
}

.spin {
  animation: spin 1.5s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.de-price,
.de-dark-theme .de-price {
  border-top: 1px dotted gray !important;
  display: block;
  font-size: 14px;
  margin-block: 10px !important;
  opacity: 0;
  padding-top: 10px !important;
  transition: opacity 0.3s ease-in;
}

.de-price.show {
  opacity: 1;
}

.d-block {
  display: block;
}

.red {
  color: #BF3A38;
  font-weight: bold;
}

.green {
  color: #038f0f;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.please-register {
  margin-block: 1rem !important;
  font-size: 13px;
  line-height: 18px;
  display: block;
}
