{
  // This is the root config file for this project (config files per directory is possible)
  root: true,

  parser: 'babel-eslint',

  // ES6 parser specifications
  parserOptions: {
    ecmaVersion: 6,
    sourceType: 'module'
  },

  // Environment presets to support in this project
  env: {
    browser: true,
    node: true,
    es6: true,
    qunit: true,
    embertest: true
  },

  // Old globals
  globals: {
    L: false,
    $: false,
    chrome: false,
    _gaq: false,
    resourceLibrary: false,
  //   "addNumberCommas": false,
  //   "andThen": false,
  //   "AddressResolver": false,
  //   "App": true,
  //   "Cache": false,
  //   "click": false,
  //   "cloneObject": false,
  //   "DEBUG": false,
  //   "deparam": false,
  //   "Em": true,
  //   "Ember": false,
  //   "equal": false,
  //   "expect": false,
  //   "fillIn": false,
  //   "find": false,
  //   "flattenArray": true,
  //   "google": false,
  //   "GoogleMaps": false,
  //   "GoogleTagManager": false,
  //   "hsq": true,
  //   "InfoBoxTreatment": false,
  //   "isFunction": false,
  //   "jQuery": false,
  //   "Modernizr": false,
  //   "module": false,
  //   "moduleFor": false,
  //   "moduleForComponent": false,
  //   "test": false,
  //   "visit": false
  },

  rules: {
    // Key: 0 -> Off, 1 -> Warning, 2 -> Error
    // Possible Errors Rules
    'comma-dangle': [1, 'never'],
    'no-cond-assign': [2, 'except-parens'],
    'no-constant-condition': 1,
    'no-dupe-args': 2,
    'no-dupe-keys': 2,
    'no-duplicate-case': 2,
    'no-empty': 1,
    'no-ex-assign': 1,
    'no-extend-native': 0,
    'no-extra-semi': 1,
    'no-func-assign': 1,
    'no-inner-declarations': 0, // Off because setting vars after try will throw this error
    'no-irregular-whitespace': 1,
    'no-obj-calls': 1,
    'no-unreachable': 1,
    'use-isnan': 1,
    'valid-typeof': 1,

    // Best Practices
    'consistent-return': 0,
    'curly': 2,
    'dot-notation': 1,
    'dot-location': [1, 'property'],
    'eqeqeq': [0, 'smart'],
    'no-caller': 2,
    'no-fallthrough': 1,
    'no-lone-blocks': 1,
    'no-loop-func': 1,
    'no-multi-spaces': [1, { exceptions: { 'VariableDeclarator': true } }],
    'no-new-func': 1,
    'no-param-reassign': 0,
    'no-redeclare': 1,
    'no-return-assign': 0,
    'no-sequences': 1,
    'no-unused-expressions': 1,
    'no-with': 1,
    'radix': 1,
    'wrap-iife': [1, 'outside'],
    'vars-on-top': 0, // Off because setting vars after try will throw this error
    'yoda': [1, 'never'], // Yoda is confusing

    // Variables
    'no-shadow': 1,
    'no-undef': 2,
    'no-unused-vars': [1, {'vars': 'all', 'args': 'none'}],
    'no-use-before-define': [2, { 'functions': false }],

    // Stylistic
    'no-trailing-spaces': 1,
    'no-underscore-dangle': 0,
    'quote-props': [1, 'as-needed'],
    'quotes': [1, 'single'],
    'semi': 1
  }
}
