/* About Page Styles */

body {
  background-color: #313335;
}

h1,
h2,
h3 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -20px;
  font-family: "Halant", serif;
  font-size: 16px;
  color: white;
  letter-spacing: 6px;
  text-shadow: 1px 2px 3px #000000;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #CCCCCC;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

a {
  color: #809BBE;
}

a:visited {
  color: #A590D0;
}

a:hover {
  color: #CAE0FA;
}

.about .title img {
  max-width: 256px;
  margin: 25px auto;
}

.about .center {
  text-align: center;
}

.about p {
  text-transform: none;
}

.about p.bold {
  /*text-transform: uppercase;*/
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.about p.troubleshoot {
  color: khaki;
}

.about p.content {
  margin-bottom: 50px;
}

.about h3 {
  margin-bottom: 25px;
}

.about .version-header {
  font-size: smaller;
  text-align: center;
  text-transform: uppercase;
}

.about .copyright,
.about .copyright a {
  margin: 25px;
  font-size: 11px;
  color: #CCCCCC;
  text-align: center;
  text-transform: uppercase;
}

.about .copyright a:hover {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.about .updates {
  margin-top: 25px;
}

hr {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  border: 0;
}

ul li {
  margin-bottom: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: left;
}

ul li a,
ul li a:hover,
ul li a:visited {
  font-weight: 600;
  color: white;
  text-decoration: underline;
}

ul li.no-bullet {
  list-style-type: none;
}

table, td, th {
  border-color: #666666 !important;
  color: #666666;
}

table caption {
  margin: 15px 0 0 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 1.6em;
  text-transform: uppercase;
}

.table {
  margin-top: 25px;
  margin-bottom: 150px;
  font-family: sans-serif;
}

.marketplace-highlights {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 25px;
}

.marketplace-highlights li {
  margin: 10px 0;
  font-weight: bold;
}

.mint {
  color: #00B4DB !important;
}

.near-mint {
  color: #00DBB4 !important;
}

.very-good-plus {
  color: #00DB1F !important;
}

.very-good {
  color: #85AB11 !important;
}

.good-plus {
  color: #F6BF48 !important;
}

.good {
  color: #D87307 !important;
}

.fair {
  color: #E54803 !important;
}

.poor {
  color: #FF0000 !important;
}

em, p b {
  font-weight: bold;
  color: white;
}

.sort-btn {
  padding: 5px;
  background-color: #4588C4 !important;
  border-color: #3571A6 !important;
  border-top-color: #3776AE !important;
  border-bottom-color: #31699B !important;
  border-radius: 3px;
  color: white !important;
}

span.new {
  color: red;
}

.max-width {
  display: block;
  max-width: 350px;
  margin: 15px auto;
}

.max-height {
  display: block;
  max-height: 350px;
  margin: 0 auto;
  text-align: center;
}

.price-example {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin: 10px auto;
}

.paypal {
  text-align: center;
}

.beer:after {
  content: "🍺";
}

.shortcuts {
  max-width: 176px;
}

.short {
  display: inline-block;
  margin-bottom: 5px;
}

.about p.short-title {
  display: inline-block;
  margin-top: -16px;
  margin-left: 5px;
  padding-top: 0;
  font-size: 15px;

  vertical-align: middle;
}

.short-desc {
  margin-bottom: 20px;
}

.short-link {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) 0 0;
  background-size: cover;
}

.short-bold {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -31px 0;
  background-size: cover;
}

.short-italic {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -58px 0;
  background-size: cover;
}

.short-strike {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -86px 0;
  background-size: cover;
}

.short-underline {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -114px 0 no-repeat;
  background-size: cover;
}

.thanks ul {
  margin: 0 auto;
}

.thanks li {
  margin: 0 auto;
}
