body {
  align-items: center;
  background: #313335;
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
}

h1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: #82AAD2;
  text-decoration: none;
}

b {
  font-weight: 700;
  letter-spacing: 0.03rem;
  letter-spacing: 0.04rem;
  text-shadow: 1px 2px #242424;
}

.sidebar {
  background: #242424;
  position:fixed;
  height: 100%;
  min-width: 450px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: scroll;
}
/* I need a fixed position nav but I want to
scroll the content so this will take up the same
amount of space that the sidebar would take if it's
position wasn't fixed. */
.sidebar-spacer {
  display: inline-block;
  height: 100%;
  min-width: 450px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: scroll;
}

.sidebar h1 {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.sidebar .version {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.sidebar .navigation {
  position: relative;
}

.sidebar .navigation > input,
.sidebar .navigation > select {
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar .navigation select {
  height: 25px;
  font-family: 'Roboto', sans-serif;
}

.sidebar .navigation input {
  font-size: 16px;
  height: 35px;
  padding-left: 2.1rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border-radius: 5px;
  border: none;
}

.feather-search {
  position: absolute;
  top: 50px;
  left: -7px;
  color: #434343;
  width: 50px;
}

.sidebar .info-box {
  width: 100%;
  margin-top: 1rem;
}

.sidebar .info-box .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar .info-box .nav a {
  color: #fafafa;
  position: relative;
  border-bottom: 0px solid #fafafa;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
}

.sidebar .info-box .nav a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #fafafa;
}

.sidebar .info-box .nav a.selected {
  padding-bottom: 2px;
  border-bottom: 3px solid #59C231;
}

.sidebar .info-box .info-wrap {
  max-width: 400px;
  margin-top: 2rem;
  font-size: 14px;
  line-height: 1.4;
}

.info-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.info-wrap .news-item {
  margin-bottom: 2rem;
}

.info-wrap span {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.info-wrap span.warn {
  color: #F2994A;
}

.info-wrap span.feature {
  color: #59C231;
}

.info-wrap span.update {
  color: #56CCF2;
}

.info-wrap span.warn::before {
  content: "⚠️ ";
  font-size: 10px;
}
span.m {
  margin-bottom: 8px;
  display: block;
}

.hide {
  display: none;
}

/* Content */

.content {
  display: flex;
  width: 100%;
  padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  padding-top: 5rem;
}

.content img {
  height: auto;
  margin: 1rem auto;
}

.content h2 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.feature-block {
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.feature-block p {
  line-height: 1.4;
}

.marketplace-highlights {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 25px;
}

.marketplace-highlights li {
  margin: 10px 0;
  font-weight: bold;
}


.mint {
  color: #00B4DB !important;
}

.near-mint {
  color: #00DBB4 !important;
}

.very-good-plus {
  color: #00DB1F !important;
}

.very-good {
  color: #85AB11 !important;
}

.good-plus {
  color: #F6BF48 !important;
}

.good {
  color: #D87307 !important;
}

.fair {
  color: #E54803 !important;
}

.poor {
  color: #FF0000 !important;
}

.content em,
.content p b {
  font-weight: bold;
  color: #fafafa;
}

.content ul li.no-bullet {
  list-style-type: none;
}

.max-width {
  display: block;
  max-width: 350px;
  margin: 15px auto;
}

.max-height {
  display: block;
  max-height: 350px;
  margin: 0 auto;
  text-align: center;
}

.price-example {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin: 10px auto;
}

.short-desc {
  margin-bottom: 20px;
}

.short-link {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) 0 0;
  background-size: cover;
}

.short-bold {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -31px 0;
  background-size: cover;
}

.short-italic {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -58px 0;
  background-size: cover;
}

.short-strike {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -86px 0;
  background-size: cover;
}

.short-underline {
  height: 25px;
  width: 28px;
  background: url(../../img/about/shortcuts.png) -114px 0 no-repeat;
  background-size: cover;
}
