body {
  align-items: center;
  align-items: start;
  display: flex;
  flex-direction: row;
  height: 100%;
}

h1 {
  color: #f2f2f2;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #829fc4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.secret {
  color: #ccc;
  text-decoration: none;
}

.update-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0rem;
}

b {
  font-weight: 700;
  letter-spacing: 0.03rem;
  letter-spacing: 0.04rem;
}

hr {
  border: 1px solid #313335;
}

details {
  border: 1px solid #424242;
  background: #292929;
  border-radius: 5px;
  margin-bottom: 1rem;
  outline: none;
}

details:hover {
  background: #333;
}

details p {
  white-space: pre-line;
  margin: auto 1rem 2rem 1rem;
}

details span.update {
  margin: 1.75rem auto -.75rem auto;
  display: block;
  color: orange;
}

details span.changelog {
  margin: 0 auto .75rem auto;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

summary {
  cursor: pointer;
  padding: 0.5rem;
  outline: none;
  list-style-type: none;
  font-weight: bold;
}

.sidebar {
  background: #242424;
  border-right: 1px solid #424242;
  height: 100%;
  min-width: 450px;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  overflow-x: auto;
}

.sidebar::-webkit-scrollbar {
  width: 0 !important;
}

/* I need a fixed position nav but I want to
scroll the content so this will take up the same
amount of space that the sidebar would take if it's
position wasn't fixed. */
.sidebar-spacer {
  display: inline-block;
  height: 100%;
  min-width: 450px;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar h1 {
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sidebar .version {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.sidebar .navigation {
  position: relative;
}

.sidebar .navigation > input,
.sidebar .navigation > select {
  width: 100%;
  margin-bottom: 1rem;
}

select {
  transition: all 0.2s ease-in-out;
}

#nav-select {
  background: #333;
  border-radius: 5px;
  border: 1px solid #424242;
  color: #fafafa;
  font-size: 14px;
  outline: none;
}

.sidebar select.expanded {
  background: #242424;
  border: 1px solid #424242;
  outline: none;
}

.sidebar .navigation input {
  padding-left: 2.1rem;
}

.feather-search {
  position: absolute;
  top: 8px;
  left: -7px;
  color: #999;
  width: 50px;
}

.clear-search {
  position: absolute;
  top: 8px;
  right: 8px;
}

.clear-search:hover svg {
  stroke: #fafafa;
}

.clear-search svg {
  stroke: #999;
  height: 20px;
  transition: stroke 0.15s ease-in;
}

.search-status {
  position: absolute;
  color: #999;
  font-style: italic;
  font-size: 14px;
  top: 10px;
  right: 40px;
}

.sidebar .info-box {
  width: 100%;
  margin-top: 2.5rem;
}

.sidebar .info-box .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar .info-box .nav a {
  color: #fafafa;
  position: relative;
  border-bottom: 0px solid #fafafa;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.sidebar .info-box .nav a:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #b0b0b0;
}

.sidebar .info-box .nav a.selected {
  padding-bottom: 2px;
  border-bottom: 3px solid #fafafa;
}

.sidebar .info-box .info-wrap {
  max-width: 400px;
  margin-top: 3rem;
  line-height: 1.4;
}

.info-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.info-wrap .news-item {
  margin-bottom: 2rem;
}

.info-wrap .news-item li {
  margin-bottom: 1rem;
}

.about.tab-content .me {
  border: 5px solid #242424;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.news-item span.item-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fafafa;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.info-wrap span.issue {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #f2994a;
  font-weight: bold;
  text-transform: uppercase;
}

.info-wrap span.text {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}

.info-wrap span.feature {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #59c231;
  font-weight: bold;
  text-transform: uppercase;
}

.info-wrap span.update,
.info-wrap span.previous-updates {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #56ccf2;
  font-weight: bold;
  text-transform: uppercase;
}

.updates-content > p {
  margin-bottom: 0;
}

.updates-content,
.news-item.previous,
.info-wrap div.thank-yous {
  margin-top: 3rem;
}

.info-wrap div.thank-yous div.update {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #00dbb4;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .25rem;
}

span.m {
  color: #fafafa;
  display: block;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  margin-bottom: 16px;
}

.donate h3 {
  margin-top: 3rem;
}

.donation-wrap {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  text-align: center;
}

.coffee {
  background: #ff813f;
  border-radius: 4px;
  border: 1px solid #ff813f;
  color: white;
  display: inline-block;
  font-family: "Barlow";
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 0.6px;
  line-height: 36px;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 5px 15px;
  text-decoration: none;
  transition: box-shadow 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.coffee:hover {
  background: #ff7924;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.45);
  text-decoration: none;
}

.coffee img {
  border-radius: 20px;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.eth {
  font-size: 0.7rem;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.eth-address {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  background: #202020;
  padding: 0.5rem;
  border-radius: 5px;
  user-select: all;
}

.hide {
  display: none !important;
}

/* Content */

.content {
  display: flex;
  width: 100%;
  padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  padding-top: 5rem;
}

.content img {
  height: auto;
  margin: 1rem auto;
}

.content h2,
h3 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

h2.highlight {
  animation-name: signal;
  animation-duration: 2s;
}

@keyframes signal {
  from {
    color: #f6bf48;
  }
  to {
    color: #fafafa;
  }
}

.feature-block {
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.marketplace-highlights {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 25px;
  text-align: center;
}

.marketplace-highlights li {
  margin: 10px 0;
  font-weight: bold;
}

.themes li {
  list-style: none;
  margin-bottom: 1rem;
}

.themes li b {
  font-style: normal;
}

.mint {
  color: #00b4db !important;
}

.near-mint,
.donor {
  color: #00dbb4 !important;
}

.very-good-plus {
  color: #00db1f !important;
}

.very-good {
  color: #85ab11 !important;
}

.good-plus,
.contributor {
  color: #f6bf48 !important;
}

.good {
  color: #d87307 !important;
}

.fair {
  color: #e54803 !important;
}

.poor {
  color: #ff0000 !important;
}

.content em,
.content p b {
  font-weight: bold;
  color: #5bd14b;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content em {
  margin-right: 0.5rem;
}

.content ul li.no-bullet {
  list-style-type: none;
}

.max-width {
  display: block;
  max-width: 350px;
  margin: 15px auto;
}

.max-height {
  display: block;
  max-height: 350px;
  margin: 0 auto;
  text-align: center;
}

.w-200 {
  width: 200px;
  display: block;
  margin: 15px auto;
}

.price-example {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin: 10px auto;
}

.short-desc {
  margin-bottom: 20px;
}

.short-link {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) 0 0;
  background-size: cover;
}

.short-bold {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -31px 0;
  background-size: cover;
}

.short-italic {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -58px 0;
  background-size: cover;
}

.short-strike {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -86px 0;
  background-size: cover;
}

.short-underline {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -114px 0 no-repeat;
  background-size: cover;
}

ul.thanks {
  columns: 2;
  margin-bottom: 8rem;
}

.thanks li {
  margin: 0 auto 1rem auto;
}

.thanks li.donor {
  text-shadow: 0px 0px 5px #579489;
}

.thanks li.donor::after {
  content: "\02605";
  display: inline-block;
  margin-left: 0.2rem;
  color: #fff;
}

.thanks li.contributor {
  text-shadow: 0px 0px 5px #a2a184;
}

.thanks li.contributor::after {
  content: "\272A";
  display: inline-block;
  margin-left: 0.2rem;
  color: #fff;
}

.love {
  margin: 45px auto 10px;
}

.copyright-wrap {
  margin-bottom: 4rem;
}

.copyright,
.copyright a {
  font-size: 11px;
  color: #cccccc;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.copyright a:hover {
  color: #cccccc;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.content .short {
  display: inline-block;
  margin-bottom: 5px;
}

.content p.short-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fafafa;
  display: inline-block;
  font-size: 15px;
  margin-left: 35px;
  margin-top: -26px;
  padding-top: 0;
  vertical-align: middle;
}

.no-results {
  text-align: center;
  /* background: #242424;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.text-center {
  text-align: center;
  display: inherit;
}

.no-highlight {
  color: #fafafa !important;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
}

.paypal {
  background: #ffc439;
  border-radius: 4px;
  color: #000;
  display: inline-flex;
  font-family: Helvetica;
  font-size: .875rem;
  font-weight: 700;
  justify-content: center;
  margin: 0.5rem auto;
  padding: .25rem 1rem;
  width: 216px;
  transition: background-color 0.4s ease;
}

.paypal:hover {
  background: #ffde91;
}

.pp {
  width: 100px;
}

.qr {
  width: 250px;
  display: block;
  margin: 1rem auto 0 auto;
}

.qr-instructions {
  color: #8d8d8d;
  display: block;
  font-size: 13px;
  font-style: italic;
  margin-top: 0.5rem;
}

.dotted {
  border: 2px dotted #808080;
}
