body {
  align-items: center;
  align-items: start;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #829FC4;
  text-decoration: underline;
}

a.secret {
  color: #ccc;
  text-decoration: none;
}

b {
  font-weight: 700;
  letter-spacing: 0.03rem;
  letter-spacing: 0.04rem;
}

hr {
  border: 1px solid #313335;
}

details {
  border: 1px solid #424242;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #333;
  outline: none;
}

summary {
  outline: none;
}

.sidebar {
  background: #242424;
  border-right: 1px solid #424242;
  height: 100%;
  min-width: 450px;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  position:fixed;
  overflow-x: auto;
}

.sidebar::-webkit-scrollbar {
  width: 0 !important
}

/* I need a fixed position nav but I want to
scroll the content so this will take up the same
amount of space that the sidebar would take if it's
position wasn't fixed. */
.sidebar-spacer {
  display: inline-block;
  height: 100%;
  min-width: 450px;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar h1 {
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sidebar .version {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.sidebar .navigation {
  position: relative;
}

.sidebar .navigation > input,
.sidebar .navigation > select {
  width: 100%;
  margin-bottom: 1rem;
}

select {
  transition: all 0.2s ease-in-out;
}

#nav-select {
  background: #333;
  border-radius: 5px;
  border: 1px solid #424242;
  color: #fafafa;
  font-size: 14px;
  outline: none;
}

.sidebar select.expanded {
  background:#242424;
  border: 1px solid #424242;
  outline: none;
}

.sidebar .navigation input {
  padding-left: 2.1rem;
}

.feather-search {
  position: absolute;
  top: 8px;
  left: -7px;
  color: #999;
  width: 50px;
}

.clear-search {
  position: absolute;
  top: 8px;
  right: 8px;
}

.clear-search:hover svg {
  stroke: #fafafa;
}

.clear-search svg {
  stroke:#999;
  height: 20px;
  transition: stroke 0.15s ease-in;
}

.search-status {
  position: absolute;
  color: #999;
  font-style: italic;
  font-size: 14px;
  top: 10px;
  right: 40px;
}

.sidebar .info-box {
  width: 100%;
  margin-top: 2.5rem;
}

.sidebar .info-box .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar .info-box .nav a {
  color: #fafafa;
  position: relative;
  border-bottom: 0px solid #fafafa;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
  text-decoration: none;
}

.sidebar .info-box .nav a:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #b0b0b0;
}

.sidebar .info-box .nav a.selected {
  padding-bottom: 2px;
  border-bottom: 3px solid #fafafa;
}

.sidebar .info-box .info-wrap {
  max-width: 400px;
  margin-top: 3rem;
  line-height: 1.4;
}

.info-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.info-wrap .news-item {
  margin-bottom: 2rem;
}

.info-wrap .news-item li {
  margin-bottom: 1rem;
}

/* .info-wrap .news-item ul li {
  list-style: none;
}

.info-wrap .news-item ul li::before {
  content: "\002022";
  color: #56CCF2;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 22px;
} */

.news-item span.item-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fafafa;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.info-wrap span.issue {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #F2994A;
  font-weight: bold;
  text-transform: uppercase;
}

.info-wrap span.text {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}

.info-wrap span.feature {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #59C231;
  font-weight: bold;
  text-transform: uppercase;
}

.info-wrap span.update,
.info-wrap span.previous-updates {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #56CCF2;
  font-weight: bold;
  text-transform: uppercase;
}

span.m {
  color: #fafafa;
  display: block;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  margin-bottom: 16px;
}

.donate h3 {
  margin-bottom: 0.1rem;
}

.donation-wrap {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  text-align: center;
}

.coffee {
  background: #FF813F;
  border-radius: 4px;
  border: 1px solid #FF813F;
  color: white;
  display: inline-block;
  font-family: 'Cookie', cursive;
  font-size: 22px;
  letter-spacing: 0.6px;
  line-height: 36px;
  margin: 0.5rem;
  padding: 5px 15px;
  text-decoration: none;
  transition: box-shadow .4s ease,background-color .4s ease,color .4s ease;
}

.coffee:hover {
  background: #ff7924;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.45);
  text-decoration: none;
}

.coffee img {
  border-radius: 20px;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.eth {
  font-size: 0.7rem;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.eth-address {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  background: #202020;
  padding: 0.5rem;
  border-radius: 5px;
}

.hide {
  display: none !important;
}

/* Content */

.content {
  display: flex;
  width: 100%;
  padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  padding-top: 5rem;
}

.content img {
  height: auto;
  margin: 1rem auto;
}

.content h2, h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

h2.highlight {
  animation-name: signal;
  animation-duration: 2s;
}

@keyframes signal {
  from {color: #F6BF48; }
  to {color: #fafafa; }
}

.feature-block {
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.marketplace-highlights {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 25px;
  text-align: center;
}

.marketplace-highlights li {
  margin: 10px 0;
  font-weight: bold;
}


.mint {
  color: #00B4DB !important;
}

.near-mint,
.donor {
  color: #00DBB4 !important;
}

.very-good-plus {
  color: #00DB1F !important;
}

.very-good {
  color: #85AB11 !important;
}

.good-plus {
  color: #F6BF48 !important;
}

.good {
  color: #D87307 !important;
}

.fair {
  color: #E54803 !important;
}

.poor {
  color: #FF0000 !important;
}

.content em,
.content p b {
  font-weight: bold;
  color: #ffe4a1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content em {
  margin-right: 0.5rem;
}

.content ul li.no-bullet {
  list-style-type: none;
}

.max-width {
  display: block;
  max-width: 350px;
  margin: 15px auto;
}

.max-height {
  display: block;
  max-height: 350px;
  margin: 0 auto;
  text-align: center;
}

.w-200 {
  width: 200px;
  display: block;
  margin: 15px auto;
}

.price-example {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin: 10px auto;
}

.short-desc {
  margin-bottom: 20px;
}

.short-link {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) 0 0;
  background-size: cover;
}

.short-bold {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -31px 0;
  background-size: cover;
}

.short-italic {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -58px 0;
  background-size: cover;
}

.short-strike {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -86px 0;
  background-size: cover;
}

.short-underline {
  height: 25px;
  width: 28px;
  background: url(../../img/learn/shortcuts.png) -114px 0 no-repeat;
  background-size: cover;
}

.thanks ul {
  margin: 0 auto;
}

.thanks li {
  margin: 0.5rem auto;
}

.thanks li.donor {
  text-shadow: 0px 0px 5px #579489;
}

.thanks li.donor::after {
  content: '\02605';
  display: inline-block;
  margin-left: 0.2rem;
  color: #fff;
}


.love {
  margin: 45px auto 10px;
}

.copyright-wrap {
  margin-bottom: 4rem;
}

.copyright,
.copyright a {
  font-size: 11px;
  color: #CCCCCC;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.copyright a:hover {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.content .short {
  display: inline-block;
  margin-bottom: 5px;
}

.content p.short-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fafafa;
  display: inline-block;
  font-size: 15px;
  margin-left: 35px;
  margin-top: -26px;
  padding-top: 0;
  vertical-align: middle;
}

.no-results {
  text-align: center;
  /* background: #242424;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.text-center {
  text-align: center;
  display: inherit;
}

.no-highlight {
  color: #fafafa !important;
}
