/* Block Seller Page Styles,
   Favorite seller page styes,
   Blocked shipping countries page styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #313335;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #CCCCCC;
  line-height: 1.5;
  transition: all 0.3s ease;
}

em {
  font-weight: bold;
  color: #ffe4a1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input:checked + label {
  color: #FAFAFA;
  border-bottom: 2px solid #59C231;
  padding-bottom: 3px;
}

input:checked + label::after {
  content: " ENABLED";
  color: #59C231;
}


label {
  -webkit-font-smoothing: antialiased;
  display: inline;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #ccc;
}

.header-wrap {
  min-height: 40px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #232425;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.50);
}

.seller,
.country {
  display: block;
  min-width: 10px;
}

.blocked-sellers,
.blocked-country {
  margin-top: 6rem;
  /* width: 50%; */
}

.blocked-sellers .seller,
.blocked-country .country {
  display: inline-block;
  position: relative;
}

.blocked-sellers .seller span,
.blocked-country .country span {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #242424;
  border: 3px solid white;
  color: white;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.blocked-sellers .seller span:hover,
.blocked-country .country span:hover {
  display: inline-block;
  background-color: red;
  cursor: pointer;
  transform: scale(1.2);
}

.blocked-sellers .seller span a,
.blocked-country .country span a {
  display: none;
  margin-left: 5px;
  color: gray;
}

.seller-input,
.country-input,
.backup-wrap {
  /* max-width: 600px; */
  padding: 20px;
  background: #242424;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.btn-success {
  background: #59C231;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #E9FCE1;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0.07rem;
  margin-top: 3rem;
  text-transform: uppercase;
  width: 460px;
  transition: all 0.1s ease-in;
  padding: .5rem 1rem;
  border: 1px solid #59C231;
}

.btn-success:hover {
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #7ad656;
}

.seller-input input,
.country-input input,
.restore-input {
  margin-top: 5px;
}

#currency-pref {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px dotted #ccc;
}

#currency-pref .currency {
  margin-bottom: 1rem;
}

.restore-input {
  width: 445px;
}

.seller-input p,
.country-input p {
  padding-left: 0;
}

.errors {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.do-not-hide-sellers,
.hide-sellers,
.show-sellers-release {
  margin: 20px auto 40px auto;
  color: white;
}

.backup {
  margin: 6rem 0 150px;
}

.restore .header {
  color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  display: inline;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.backup-output {
  margin-bottom: 50px;
  user-select: all;
}

.backup-output,
.restore-error-output {
  padding: 20px;
  background-color: #333333;
  border-radius: 10px;
  font-family: monospace;
  word-wrap: break-word;
}

.restore-errors {
  display: block;
  margin-top: 10px;
}

.restore-errors p {
  color: red;
}

.restore .btn {
  margin-top: 0;
}

.restore input {
  font-size: 16px;
  padding-left: 1rem;
}

.restore-errors-output {
  margin-top: 10px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  font-family: monospace;
  word-wrap: break-word;
}

.hide {
  display: none;
}

/* fadeout animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

.container {
  display: flex;
  justify-content: center;
}

.hero {
  align-content: center;
  /* background: linear-gradient(to right, #3c1053, #ad5389); */
  /* background: linear-gradient(to right, #267871, #136a8a); */
  background: #242424;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  height: 73px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 .6rem;
  position: relative;
  text-align: center;
}

.logo img {
  width: 30px;
  margin-top: 1.3rem;
  opacity: .7;
  /* filter: drop-shadow(0px 0px 6px #de76b6); */
  /* filter: drop-shadow(0px 0px 25px #5ec5b8); */
}

h1 {
  color: #8c8c8c;
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-top: 1rem;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
  /* filter: drop-shadow(0px 0px 6px #fff); */
  /* filter: drop-shadow(0px 0px 25px #5ec5b8); */
}

.about {
  max-width: 600px;
  margin-top: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
