// Dark version
html {
  --bg-color: #313335;
  --off-white: #CCCCCC;
  --white: #FFFFFF;
  --gray: #808080;
  --bg-accent: #292929;
  --text-color: #cccccc;
  --logo: #e8e8e8;
  --green: #51B32C;
  --green-hover: #61D335;
  --help: #222222;
  --help-icon: #606060;
  --help-text: #CCCCCC;
  --disabled-element: #808080;
  --disabled-text: #ffffff;
  --learn-more: #51B32C;
  --select-bg: #333;
  --select-border: #424242;
}

html.light {
  --bg-color: #FFFFFF;
  --off-white: #CCCCCC;
  --white: #222222;
  --help: dimgray;
  --gray: #808080;
  --bg-accent: #F0F0F0;
  --text-color: dimgray;
  --logo: darkgray;
  --help-icon: #CCCCCC;
  --help-text: #FFFFFF;
  --disabled-element: lightgray;
  --disabled-text: gray;
  --learn-more: lawngreen;
  --select-bg: #fafafa;
  --select-border: #ccc;
}

.light .status {
  font-weight: bold;
}

.light select:disabled,
.light input:disabled {
  color: var(--text-color) !important;
}

.light input::-webkit-input-placeholder {
  color: var(--logo);
}

/* hide scrollbar in popup */
.mac {
  overflow: scroll;
  overflow-x: hidden;
}
.mac::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* make scrollbar invisible */
}

html {
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif;
  height: auto;
  width: 350px;
}

h1 {
  color: var(--logo);
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin-left: 15px;
  margin-top: 10px;
}

p {
  color: var(--text-color);
  cursor: default;
  text-transform: uppercase;
  transition: all 0.3s ease;
  user-select: none;
  word-spacing: 2px;
}

a.button {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  height: 2em;
  letter-spacing: 0.05rem;
  line-height: 2em;
  margin: 0 0 0 20px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &.button_orange {
    background-color: #F98717;
    background-image: linear-gradient(#F98717,#F96C17);
    border-bottom-color: #F96C17 !important;
    border-color: #EEA236;
    border-top-color: #F98717 !important;
    width: 25%;
    color: white !important;
  }

  &.button_green {
    background-size: 100%;
    color: var(--green);
    border: 1px solid var(--green) !important;
    width: 25%;

    &:hover {
      border:1px solid var(--green-hover) !important;
      color: var(--green-hover) !important;
    }
  }
}

select {
  font-size: 14px;
}

select option {
  font-size: 14px;
}

#learn {
  vertical-align: top;
  margin-top: 0.8rem;
}

#editList,
#editShippingList,
#editFavList,
#editReadability,
#sellerRepConfig {
  display: inline-block;
  margin-top: 17px;
  margin-left: 10px;
  outline: none;
  color: var(--gray);
  vertical-align: top;
}

.rep-value {
  display: inline-block;
}

#editList:hover,
#editReadability:hover {
  color: var(--white);
}

.header {

  .title {
    margin: 1rem 0 0.5rem 0;
  }
}

.marketplace-features-container {
  height: 100%;
  margin-left: 0;
}

.toggle-group {
  clear: both;
  height: 50px;
  width: 105%;
  margin: 0 0 0 -10px;
  position: relative;
  border-top: 1px solid var(--bg-accent);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bg-accent);

    p {
      color: var(--white);
    }
  }

  &.has-options:hover p {
    margin-left: 8px;
    cursor: pointer;
  }
}

.rotate90 {
  transform: rotate(90deg);
}

/* marketplace features arrow */

.arrow {
  display: inline-block;
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  /*color: #6F6F6F;*/
  color: #809BBE;
  transition: all 0.3s ease;
}


.label {
  float: left;
  padding: 4px 0 0 28px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.onoffswitch {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

.notifications {
  float: left;
  clear: both;
  height: 114px;
  width: 100%;
  margin: 8px 0;
  position: fixed;
  z-index: 101;
  top: -30px;
  left: 0;
  background-color: #666666;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;

  img {
    width: 45px;
  }

  .icon {
    float: left;
    margin: 0 10px 0 45px;
  }

  .warning-text {
    line-height: 18px;
  }
}

#notify {
  margin: 46px;
  padding-right: 10px;
  font-weight: 400;
  color: var(--off-white);
}

sup {
  color: #454545;
}

.hide {
  display: none;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.context-menus {
  clear: both;
  overflow: hidden;
  margin-top: 55px;
}

.checkbox-wrap {
  float: left;
  width: 110px;
  color: var(--text-color);

  input {
    margin-right: 10px;
  }

  label {
    margin-right: 12px;
  }
}

#currency {
  margin-top: 16px;
  margin-left: 15px;
  outline: none;
}

.alert {
  outline: 1px dotted red !important;
}

.rate-button {
  border-top: 1px solid var(--bg-accent);
  transition: all 0.3s ease;
}

#rate,
#twitter {
  width: 60%;
  margin: 15px auto;
  display: block;
  padding: 0 20px;
}

/* Filter Marketplace Items by Condition */
/*sub-menu*/
.hide-condition,
.hide-sleeve-condition {
  position: relative;

  select {
    position: absolute;
    top: 55px;
    left: 50px;
    outline: none;
  }
}

.hide-sleeve-condition {
  .generic-no-cover {
      position: absolute;
      top: 85px;
      left: 15px;
      color: var(--text-color);
      margin-left: 32px;
      padding-top: 5px;
  }
}


.absolute {
  .us-date-format {
    display: block;
    clear: both;
    color: var(--text-color);
    margin-left: 32px;
    padding-top: 5px;

    input {
      margin-right: 5px;
    }

    .date-example {
      display: block;
      margin-left: 24px;
      margin-top: 5px;
      font-style: italic;
    }
  }
}

/* Seller Reputation */
/*sub-menu*/
.seller-rep {
  position: relative;
}

.percent-wrap {
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 18px;
}

#percent {
  margin-bottom: 10px;
}

.percentage-interface {
  width: 300px;
  position: absolute;
  top: 52px;
  left: 50px;
  font-size: 15px;
  color: var(--white);

  input {
    display: inline-block;
    max-width: 80px;
    margin-right: 3px;
    margin-left: 0;
    font-size: inherit;
    border-radius: 5px;
    border: 1px solid var(--select-border);
    padding: 0.25rem;
  }

  label {
    margin-bottom: 8px;
    font-size: 13px;
    color: var(--text-color);
    display: block;
  }

  a {
    display: inline-block;
    width: 50px;
    margin: -5px 0 0 15px;
    padding: 0;
    font-size: 13px;
  }

  span.message {
    display: inline-block;
    font-size: 13px;
    color: #60C43F;
  }
}

.rep-color {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 2px;
  position: relative;

  /* Hightlight */
  &:hover::after {
    content: "\026AC";
    color: #fff;
    position: absolute;
    font-size: 13px;
    top: 2px;
    left: 11px;
  }

  &.selected::after {
    // content: "\0033D";
    content: "\02022";
    color: #fff;
    position: absolute;
    font-size: 15px;
    top: 0px;
    left: 11px;
  }

  /* Swatch colors */
  &.BF3A38 {
    background-color: #BF3A38;
  }

  &.darkorange {
    background-color: darkorange;
  }

  &.darkgoldenrod {
    background-color: darkgoldenrod;
  }

  &.darkslategray {
    background-color: darkslategray;
  }

  &.slategray {
    background-color: slategray;
  }

  &.dimgray {
    background-color: dimgray;
  }

  &.black {
    background-color: black;
  }
}

.save-wrap {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 96px;
}

.percent-save {
  display: inline-block;
  outline: none;
  color: lightgray;
}

#percent:disabled,
#filterCountryCurrency:disabled,
#filterCountry:disabled,
#currency:disabled {
  background-color: var(--disabled-element);
  border: 1px solid var(--disabled-element);
  color: var(--bg-accent);
  cursor: not-allowed;
}

/* hide arrows in number input */
.percentage-interface input::-webkit-outer-spin-button,
.percentage-interface input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.toggle-group.menus,
.toggle-group.condition,
.toggle-group.country,
.toggle-group.seller-rep,
.toggle-group.absolute {
  cursor: pointer;
}

#contextMenus {
  margin-left: 30px;
  z-index: 10;
}

.status,
.condition-status {
  position: absolute;
  top: 18px;
  right: 23px;
  letter-spacing: 0.05rem;
}

.enabled {
  color: #5BD14B;
}

.disabled {
  color: var(--disabled-text);
}

.mint {
  color: #00B4DB;
}

.near-mint {
  color: #00DBB4;
}

.very-good-plus {
  color: #00DB1F;
}

.very-good {
  color: #85AB11;
}

.good-plus {
  color: #F6BF48;
}

.good {
  color: #D87307;
}

.fair {
  color: #E54803;
}

.poor {
  color: #FF0000;
}

/**
 * Search box
 */
.search-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#searchbox {
  background-color: var(--bg-accent);
  border-radius: 5px;
  border: 1px solid var(--bg-accent);
  color: var(--white);
  font-size: 14px;
  height: 20px;
  margin: 0 auto 15px;
  outline: none;
  padding: 5px 25px 5px 32px;
  width: 75%;
}

span.clear-search {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 25px;
  cursor: pointer;
  color: var(--gray);
  transition: all 0.1s ease-in;
  &:hover {
    color: var(--white);
  }
}

.feather-search {
  position: absolute;
  top: 7px;
  left: 20px;
  color:var(--gray);
}

// Help Bubbles
.help {
  float: right;
  margin-right: 10px;
  margin-top: 18px;
  position: relative;
  stroke: var(--help-icon);
  width: 15px;
  z-index: 100;
  cursor: pointer;
}

.help:hover {
  stroke: var(--text-color);
}

.help .help-bubble {
  background-color: var(--help);
  border-radius: 5px;
  box-shadow: -2px 3px 5px 0px var(--bg-accent);
  color: var(--help-text);
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-51%) translateX(-107%);
  transition: 0s visibility;
  visibility: hidden;
  width: 150px;
  z-index: 100;
}

.help:hover .help-bubble {
  border: 1px solid dimgray;
  transition-delay: 0.2s;
  visibility: visible;
}

.help-bubble .help-text span {
  color: var(--help-text);
  display: block;
  margin-top: 10px;
  padding: 0;
  text-transform: none !important;
}

.help-bubble .help-text span.learn-more::before {
  color: var(--learn-more);
  content: 'Click the \"?\" icon for additional important details.';
  display: block;
  margin-top: 10px;
}

// .help.contextual-help {
//   margin-right: 74px;
// }

.arrow-right {
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--help);
  border-top: 10px solid transparent;
  height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(1635%);
  width: 0;
}

.arrow-right.stroke {
  border-left: 10px solid dimgray;
  transform: translateY(-50%) translateX(1650%);
}

#noResults .label {
  padding-left: 150px;
}

/* fadeout animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

/* fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show {
  display: block;
}
