/* Readability Page Styles */
body {
  margin-left: 4rem;
  margin-top: 4rem;
}

h2 {
  margin-top: 4rem;
}

li {
  margin-bottom: 2rem;
}

form {
  margin-bottom: 150px;
}

label,
.switch-label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

select {
  font-size: 16px;
}

.header-wrap {
  min-height: 40px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #232425;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.50);
}

.logo {
  display: block;
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
}

.hide {
  display: none;
}

.option-wrap {
  margin: 20px auto 40px auto;
  color: white;
}

.content {
  max-width: 600px;
}

.switch-wrap,
.switch-label {
  display: inline-block;
  font-weight: bold;

  vertical-align: top;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-label {
  margin-top: 2px;
}

.feature {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
}

/* Switch overrides */
.onoffswitch-label {
  border-radius: 100px;
}

#otherMediaThreshold {
  margin-bottom: 25px;
}

#size {
  margin-bottom: 15px;
}
