/* Readability Page Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #313335;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  text-align: center;
}

li {
  margin-bottom: 2rem;
}

form {
  margin-bottom: 150px;
}

label,
.switch-label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

select {
  font-size: 16px;
}

.header-wrap {
  min-height: 40px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #232425;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.50);
}

.logo {
  display: block;
  max-width: 350px;
  text-align: center;
}

.hide {
  display: none;
}

.option-wrap {
  margin: 20px auto 40px auto;
  color: white;
}

.content {
  max-width: 600px;
}

.switch-wrap,
.switch-label {
  display: inline-block;
  font-weight: bold;

  vertical-align: top;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-label {
  margin-top: 2px;
}

.feature {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #272727;
  border-radius: 10px;
}

/* Switch overrides */
.onoffswitch-label {
  border-radius: 100px;
}

#otherMediaThreshold {
  margin-bottom: 25px;
}

#size {
  margin-bottom: 15px;
}


.container {
  display: flex;
  justify-content: center;
}

.hero {
  align-content: center;
  /* background: linear-gradient(to right, #3c1053, #ad5389); */
  /* background: linear-gradient(to right, #267871, #136a8a); */
  background: #242424;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  height: 75px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 .6rem;
  position: relative;
  text-align: center;
}

.logo img {
  width: 40px;
  margin-top: 1rem;
  opacity: .7;
  /* filter: drop-shadow(0px 0px 6px #de76b6); */
  /* filter: drop-shadow(0px 0px 25px #5ec5b8); */
}

h1 {
  color: #8c8c8c;
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-top: 1rem;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
  /* filter: drop-shadow(0px 0px 6px #fff); */
  /* filter: drop-shadow(0px 0px 25px #5ec5b8); */
}

.about {
  max-width: 600px;
  margin-top: 5rem;
}
