// Dark version
html {
  --bg-color: #313335;
  --off-white: #CCCCCC;
  --white: #FFFFFF;
  --gray: #808080;
  --bg-accent: #292929;
  --text-color: #cccccc;
}

html.light {
  --bg-color: #FFFFFF;
  --off-white: #CCCCCC;
  --white: #222222;
  --gray: #808080;
  --bg-accent: lightGray;
  --text-color: dimgray;
}

/* hide scrollbar in popup */
.mac {
  overflow: scroll;
  overflow-x: hidden;
}
.mac::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* make scrollbar invisible */
}

html {
  background-color: var(--bg-color);
}

body {
  height: auto;
  width: 350px;
  background-color: var(--bg-color);
}

h1 {
  font-family: 'Merriweather', serif;
  color: var(--white);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  text-transform: uppercase;
  word-spacing: 2px;
  cursor: default;
  user-select: none;
  transition: all 0.3s ease;
}

a.button {
  background-size: 100%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  height: 2em;
  line-height: 2em;
  margin: 0 25% 25px 34%;
  outline: none;
  padding: 0.20em 1em;
  text-align: center;
  text-decoration: none;
  // text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  text-transform: uppercase;
  vertical-align: middle;

  &.button_orange {
    background-color: #F98717;
    background-image: linear-gradient(#F98717,#F96C17);
    border-bottom-color: #F96C17 !important;
    border-color: #EEA236;
    border-top-color: #F98717 !important;
    width: auto;
  }

  &.button_green {
    background-color: #60C43F !important;
    background-image: linear-gradient(#60C43F,#59BA39);
    background-size: 100%;
    border-bottom-color: #49972E !important;
    border-color: #4EA332 !important;
    border-top-color: #52AB34 !important;
    width: 25%;

    &:hover {
      background-image: linear-gradient(#73CB56,#6AC84B);
    }
  }
}

#about {
  margin-bottom: 15px;
}

#editList,
#editReadability,
#sellerRepConfig {
  display: inline-block;
  margin-top: 18px;
  margin-left: 10px;
  outline: none;
  color: var(--gray);
}

.rep-value {
  display: inline-block;
}

#editList:hover,
#editReadability:hover {
  color: var(--white);
}

.header {
  height: 30px;
  width: 350px;
  margin: 0 -20px 0 -20px;
  padding: 0 10px 8px 25px;
  text-align: center;
  /*  cursor: pointer;*/

  .title img {
    width: 256px;
    margin: 0 auto;
    margin-top: 18px;
  }
}

.marketplace-features-container {
  height: 100%;
  margin-left: 0;
}

.toggle-group {
  clear: both;
  height: 50px;
  width: 105%;
  margin: 0 0 0 -10px;
  position: relative;
  border-top: 1px solid var(--bg-accent);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bg-accent);

    p {
      color: var(--white);
    }
  }

  &.has-options:hover p {
    margin-left: 8px;
    cursor: pointer;
  }
}

.rotate90 {
  transform: rotate(90deg);
}

/* marketplace features arrow */

.arrow {
  display: inline-block;
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  /*color: #6F6F6F;*/
  color: #809BBE;
  transition: all 0.3s ease;
}


.label {
  float: left;
  padding: 3px 0 0 28px;
  font-size: 14px;
}

.onoffswitch {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

.notifications {
  float: left;
  clear: both;
  height: 114px;
  width: 100%;
  margin: 8px 0;
  position: fixed;
  z-index: 1;
  top: -30px;
  left: 0;
  background-color: #666666;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;

  img {
    width: 45px;
  }

  .icon {
    float: left;
    margin: 0 10px 0 45px;
  }

  .warning-text {
    line-height: 18px;
  }
}

#notify {
  margin: 46px;
  padding-right: 10px;
  font-weight: 400;
  color: var(--off-white);
}

sup {
  color: #454545;
}

.hide {
  display: none;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.context-menus {
  clear: both;
  overflow: hidden;
  margin-top: 55px;
}

.checkbox-wrap {
  float: left;
  width: 110px;
  color: var(--text-color);

  input {
    margin-right: 10px;
  }

  label {
    margin-right: 12px;
  }
}

#currency {
  margin-top: 16px;
  margin-left: 15px;
  outline: none;
}

.alert {
  outline: 1px dotted red !important;
}

.rate-button {
  clear: both;
  height: 50px;
  width: 100%;
  margin: 0 0 0 -6px;
  padding: 0 0 25px 18px;
  border-top: 1px solid var(--bg-accent);
  transition: all 0.3s ease;
}

#rate {
  width: 50%;
  margin: 23px 0 0 63px;
}

/* Filter Marketplace Items by Condition */
/*sub-menu*/
.hide-condition {
  position: relative;

  select {
    position: absolute;
    top: 55px;
    left: 50px;
    outline: none;
  }
}

/* Filter Marketplace Items by Country */
/* sub-menu */
.hide-country {
  position: relative;

  #filterCountryCurrency {
    position: absolute;
    top: 45px;
    left: 50px;
    outline: none;
  }

  #filterCountry {
    max-width: 175px;
    position: absolute;
    top: 75px;
    left: 50px;
    outline: none;
  }

  #filter-by-country-always {
    position: absolute;
    top: 103px;
    left: 50px;

    span {
      color: var(--white);
      font-weight: 300;
      font-size: 12px;
    }
  }
}

/* Seller Reputation */
/*sub-menu*/
.seller-rep {
  position: relative;
}

.percent-wrap {
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 18px;
}

#percent {
  margin-bottom: 10px;
}

.percentage-interface {
  width: 300px;
  position: absolute;
  top: 52px;
  left: 50px;
  font-size: 15px;
  color: var(--white);

  input {
    display: inline-block;
    max-width: 80px;
    margin-right: 3px;
    margin-left: 0;
    font-size: inherit;
    border-radius: 3px;
    border: 2px solid var(--white);
  }

  label {
    margin-bottom: 8px;
    font-size: 13px;
    color: var(--text-color);
    display: block;
  }

  a {
    display: inline-block;
    width: 50px;
    margin: -5px 0 0 15px;
    padding: 0;
    font-size: 13px;
  }

  span.message {
    display: inline-block;
    font-size: 13px;
    color: #60C43F;
  }
}

.rep-color {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 3px;

  /* Hightlight */
  &:hover,
  &.selected {
    box-shadow:inset 0px 0px 0px 2px var(--white);
  }

  /* Swatch colors */
  &.BF3A38 {
    background-color: #BF3A38;
  }

  &.darkorange {
    background-color: darkorange;
  }

  &.darkgoldenrod {
    background-color: darkgoldenrod;
  }

  &.darkslategray {
    background-color: darkslategray;
  }

  &.slategray {
    background-color: slategray;
  }

  &.dimgray {
    background-color: dimgray;
  }

  &.black {
    background-color: black;
  }
}

.save-wrap {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 96px;
}

.percent-save {
  display: inline-block;
  outline: none;
  color: lightgray;
}

#percent:disabled,
#filterCountryCurrency:disabled,
#filterCountry:disabled,
#currency:disabled {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  color: var(--bg-accent);
}

/* hide arrows in number input */
.percentage-interface input::-webkit-outer-spin-button,
.percentage-interface input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.toggle-group.menus,
.toggle-group.condition,
.toggle-group.country,
.toggle-group.seller-rep {
  cursor: pointer;
}

#contextMenus {
  margin-left: 30px;
  z-index: 10;
}

.status,
.condition-status {
  position: absolute;
  top: 17px;
  right: 23px;
}

.enabled {
  color: #5BD14B;
}

.disabled {
  color: var(--white);
}

.mint {
  color: #00B4DB;
}

.near-mint {
  color: #00DBB4;
}

.very-good-plus {
  color: #00DB1F;
}

.very-good {
  color: #85AB11;
}

.good-plus {
  color: #F6BF48;
}

.good {
  color: #D87307;
}

.fair {
  color: #E54803;
}

.poor {
  color: #FF0000;
}

/**
 * Search box
 */
.search-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#searchbox {
  background-color: var(--bg-accent);
  border-radius: 5px;
  border: 1px solid var(--bg-accent);
  color: var(--white);
  font-size: 14px;
  height: 20px;
  margin: 0 auto 15px;
  outline: none;
  padding: 5px 25px 5px 5px;
  width: 50%;
}

span.clear-search {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 10;
  top: 9px;
  right: 80px;
  background-image: url("../../img/clear-search.png");
  background-repeat: none;
  background-size: contain;
  cursor: pointer;

  &:hover {
    background-image: url("../../img/clear-search-hover.png");
  }
}

#noResults .label {
  padding-left: 150px;
}

/* fadeout animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

/* fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show {
  display: block;
}
