/* hide scrollbar in popup */
.mac {
  overflow: scroll;
  overflow-x: hidden;
}
.mac::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* make scrollbar invisible */
}


body {
  height: 275px;
  width: 350px;
  background-color: #313335;
}

h1,
h2,
h3 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -20px;
  font-family: "Halant", serif;
  font-size: 14px;
  color: white;
  letter-spacing: 6px;
  text-shadow: 1px 2px 3px #000000;
  text-transform: uppercase;
}

h2._300 {
  margin-bottom: 10px;
  font-weight: 300;
}

h2._500 {
  font-weight: 500;
}

h2._600 {
  margin-top: 0;
  padding-top: 15px;
  font-weight: 600;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #CCCCCC;
  text-transform: uppercase;
  word-spacing: 2px;
  cursor: default;
  user-select: none;
  transition: all 0.3s ease;
}

a.button_orange {
  display: inline-block;
  height: 2em;
  width: 25%;
  margin: 0 25% 25px 33%;
  padding: 0 1em;
  background-color: #F98717;
  background-image: linear-gradient(#F98717,#F96C17);
  background-size: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #EEA236;
  border-top-color: #F98717 !important;
  border-bottom-color: #F96C17 !important;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  color: white !important;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;

  vertical-align: middle;
}

a.button_green {
  display: inline-block;
  height: 2em;
  width: 25%;
  margin: 0 25% 25px 33%;
  padding: 0 1em;
  background-color: #60C43F !important;
  background-image: linear-gradient(#60C43F,#59BA39);
  background-size: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #4EA332 !important;
  border-top-color: #52AB34 !important;
  border-bottom-color: #49972E !important;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  color: white !important;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;

  vertical-align: middle;
}

a.button_green:hover {
  background-image: linear-gradient(#73CB56,#6AC84B);
}

#about {
  margin-bottom: 15px;
}

#editList,
#editReadability,
#sellerRepConfig {
  display: inline-block;
  margin-top: 18px;
  margin-left: 10px;
  outline: none;
  color: gray;
}

.rep-value {
  display: inline-block;
}

#editList:hover,
#editReadability:hover {
  color: white;
}

.header {
  height: 30px;
  width: 350px;
  margin: 0 -20px 15px -20px;
  padding: 0 10px 8px 25px;
  text-align: center;
  /*  cursor: pointer;*/
}

.header .title img {
  width: 256px;
  margin: 0 auto;
  margin-top: 18px;
}

.marketplace-features-container {
  height: 100%;
  margin-left: 0;
}

.toggle-group {
  clear: both;
  height: 50px;
  width: 105%;
  margin: 0 0 0 -10px;
  position: relative;
  border-top: 1px solid #CCCCCC;
  transition: all 0.3s ease;
}

.toggle-group:hover {
  background-color: #292929;
}

.toggle-group:hover p {
  color: white;
}

.toggle-group.has-options:hover p {
  margin-left: 8px;
  cursor: pointer;
}

.rotate90 {
  transform: rotate(90deg);
}

/* marketplace features arrow */

.arrow {
  display: inline-block;
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  /*color: #6F6F6F;*/
  color: #809BBE;
  transition: all 0.3s ease;
}


.label {
  float: left;
  padding: 3px 0 0 28px;
  font-size: 14px;
}

.onoffswitch {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

.notifications {
  float: left;
  clear: both;
  height: 114px;
  width: 100%;
  margin: 8px 0;
  position: fixed;
  z-index: 1;
  top: -30px;
  left: 0;
  background-color: #666666;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.notifications img {
  width: 45px;
}

.notifications .icon {
  float: left;
  margin: 0 10px 0 45px;
}

.notifications .warning-text {
  line-height: 18px;
}

#notify {
  margin: 46px;
  padding-right: 10px;
  font-weight: 400;
  color: #CCCCCC;
}

sup {
  color: #454545;
}

.credits,
.show-credits {
  margin-bottom: 10px;
  color: #CCCCCC;
}

.credits a,
.credits a:hover,
.credits a:visited,
#showCredits,
#showCredits:visited,
#showCredits:hover {
  outline: none;
  color: #809BBE;
}

.hide {
  display: none;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.context-menus {
  clear: both;
  overflow: hidden;
  margin-top: 55px;
}

.checkbox-group {
  float: left;
  color: #CCCCCC;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-group label {
  margin-right: 14px;
}

.box-wrap {
  float: left;
  width: 110px;
}

#currency {
  margin-top: 16px;
  margin-left: 15px;
  outline: none;
}

.alert {
  outline: 1px dotted red !important;
}

.rate-button {
  clear: both;
  height: 50px;
  width: 100%;
  margin: 0 0 0 -8px;
  padding: 0 0 25px 18px;
  border-top: 1px solid #CCCCCC;
  transition: all 0.3s ease;
}

#rate {
  width: 50%;
  margin: 23px 0 0 63px;
}

/* Filter Marketplace Items by Condition */
/*sub-menu*/
.hide-condition {
  position: relative;
}

.hide-condition select {
  position: absolute;
  top: 55px;
  left: 50px;
  outline: none;
}

/* Filter Marketplace Items by Country */
/* sub-menu */
.hide-country {
  position: relative;
}

.hide-country #filterCountryCurrency {
  position: absolute;
  top: 45px;
  left: 50px;
  outline: none;
}

.hide-country #filterCountry {
  max-width: 175px;
  position: absolute;
  top: 75px;
  left: 50px;
  outline: none;
}

/* Seller Reputation */
/*sub-menu*/
.seller-rep {
  position: relative;
}

.percentage-interface {
  width: 300px;
  position: absolute;
  top: 52px;
  left: 50px;
  font-size: 15px;
  color: white;
}

.percentage-interface input {
  display: inline-block;
  max-width: 80px;
  margin-right: 3px;
  margin-left: 5px;
  font-size: inherit;
}

.percentage-interface label {
  margin-bottom: 8px;
  font-size: 13px;
  color: #CCCCCC;
}

.percentage-interface a {
  display: inline-block;
  width: 50px;
  margin: -5px 0 0 15px;
  padding: 0;
  font-size: 13px;
}

.percentage-interface span.message {
  display: inline-block;
  font-size: 13px;
  color: #60C43F;
}

.save-wrap {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 96px;
}

.percent-save {
  display: inline-block;
  outline: none;
  color: lightgray;
}

#percent:disabled,
#filterCountryCurrency:disabled,
#filterCountry:disabled,
#currency:disabled {
  background-color: gray;
  border: 2px solid gray;
  color: #292929;
}

/* hide arrows in number input */
.percentage-interface input::-webkit-outer-spin-button,
.percentage-interface input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.toggle-group.menus,
.toggle-group.condition,
.toggle-group.country,
.toggle-group.seller-rep {
  cursor: pointer;
}

#contextMenus {
  margin-left: 30px;
  z-index: 10;
}

.status,
.condition-status {
  position: absolute;
  top: 17px;
  right: 23px;
}

.enabled {
  color: #00DB1F;
}

.disabled {
  color: white;
}

.mint {
  color: #00B4DB;
}

.near-mint {
  color: #00DBB4;
}

.very-good-plus {
  color: #00DB1F;
}

.very-good {
  color: #85AB11;
}

.good-plus {
  color: #F6BF48;
}

.good {
  color: #D87307;
}

.fair {
  color: #E54803;
}

.poor {
  color: #FF0000;
}

/**
 * Search box
 */
.search-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#searchbox {
  height: 20px;
  width: 50%;
  margin: 0 auto 15px;
  padding: 5px 25px 5px 5px;
  background-color: #292929;
  border: 1px solid #666666;
  outline: none;
  font-size: 14px;
  color: #FFFFFF;
}

span.clear-search {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 10;
  top: 9px;
  right: 80px;
  background-image: url(../../img/clear-search.png);
  background-repeat: none;
  background-size: contain;
  cursor: pointer;
}

span.clear-search:hover {
  background-image: url(../../img/clear-search-hover.png);
}

#noResults .label {
  padding-left: 150px;
}

/* fadeout animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

/* fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show {
  display: block;
}
