body {
  background: #313335;
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

h1 {
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* h4 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #fafafa;
  font-size: 1.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s ease-in;
} */

a {
  color: #829FC4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.secret {
  color: #fafafa;
  text-decoration: none;
}

b {
  letter-spacing: 0.04rem;
  color: #fafafa;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #CCCCCC;
  line-height: 1.5;
  transition: all 0.3s ease;
}

li {
  line-height: 1.5;
}

em,
p b {
  font-weight: bold;
  color: #ffe4a1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

em {
  margin-right: 0.5rem;
}

input[type="text"],
input[type="textarea"] {
  font-size: 16px;
  height: 35px;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #333333;
  color: #fafafa;
  width: 300px;
}

select {
  background: #333;
  border-radius: 5px;
  border: 1px solid #424242;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 35px;
  outline: none;
}

select option {
  color: #fafafa;
  font-size: 14px;
  outline: none;
  padding: 0.5rem;
  vertical-align: baseline;
  transition: background 0.15s ease-in;
}

select option:hover {
  background: #242424;
}

.btn-green {
  background: #59C231;
  border-radius: 5px;
  border: 1px solid #59C231;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #E9FCE1;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0.07rem;
  margin-left: 10px;
  margin-top: -7px;
  margin-top: 3rem;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
  width: 460px;
}

.btn-green:hover {
  border: 1px solid #7ad656;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.white {
  color: #fafafa !important;
}

.no-underline {
  text-decoration: none;
}
